{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_achievement_index') }}">
            {{ 'Achievements'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Edit achievement'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Edit achievement'|trans }}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ include('admin/achievement/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <div class="card-body">
            {{ include('admin/achievement/_form.html.twig', {'button_label': 'Update'|trans}) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Edit achievement'|trans }}
{% endblock %}
