{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_achievement_index') }}">
            {{ 'Achievements'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Achievement details'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Achievement details'|trans }}
            <a class="btn btn-secondary btn-sm float-right ml-2" href="{{ path('admin_achievement_index') }}">
                <i aria-hidden="true" class="bi bi-x-square"></i>
            </a>
            <a class="btn btn-success btn-sm float-right" href="{{ path('admin_achievement_edit', {'uuid': achievement.uuid}) }}">
                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                {{ 'Edit'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">
                        {{ 'Basic'|trans }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">
                        {{ 'Relations'|trans }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">
                        {{ 'Additional'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Name'|trans }}
                                </th>
                                <td>
                                    {{ achievement.name }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Description'|trans }}
                                </th>
                                <td>
                                    {{ achievement.description }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Is enabled'|trans }}
                                </th>
                                <td>
                                    {% if achievement.isEnabled %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Level'|trans }}
                                </th>
                                <td>
                                    {{ achievement.level }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Requirement'|trans }}
                                </th>
                                <td>
                                    {{ achievement.requirement }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Type'|trans }}
                                </th>
                                <td>
                                    {{ achievement.type }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Users'|trans }}
                                </th>
                                <td>
                                    {% if achievement.users|length %}
                                        <ul>
                                            {% for user in achievement.users %}
                                                <li>
                                                    <a href="{{ path('admin_user_show', {'uuid': user.uuid}) }}">
                                                        {{ user.email }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'ID'|trans }}
                                </th>
                                <td>
                                    {{ achievement.id }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'UUID'|trans }}
                                </th>
                                <td>
                                    {{ achievement.uuid }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Created by'|trans }}
                                </th>
                                <td>
                                    {% if achievement.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': achievement.createdBy}) }}">
                                            {{ achievement.createdBy }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Deleted by'|trans }}
                                </th>
                                <td>
                                    {% if achievement.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': achievement.deletedBy}) }}">
                                            {{ achievement.deletedBy }}
                                        </a>
                                        <a class="btn btn-warning" href="{{ path('admin_achievement_undelete', {'uuid': achievement.uuid}) }}">
                                            <i aria-hidden="true" class="bi bi-trash-restore"></i>
                                            {{ 'Undelete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Updated by'|trans }}
                                </th>
                                <td>
                                    {% if achievement.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': achievement.updatedBy}) }}">
                                            {{ achievement.updatedBy }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Created at'|trans }}
                                </th>
                                <td>
                                    {{ achievement.createdAt ? achievement.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Deleted at'|trans }}
                                </th>
                                <td>
                                    {% if achievement.deletedAt %}
                                        {{ achievement.deletedAt|date('Y-m-d H:i:s') }}
                                        <a class="btn btn-warning" href="{{ path('admin_achievement_undelete', {'uuid': achievement.uuid}) }}">
                                            <i aria-hidden="true" class="bi bi-trash-restore"></i>
                                            {{ 'Undelete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Updated at'|trans }}
                                </th>
                                <td>
                                    {{ achievement.updatedAt ? achievement.updatedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Achievement details'|trans }}
{% endblock %}
