{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_workspace') }}">{{ 'Workspace'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Account operations'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Goals'|trans }}
            <form action="{{ path('admin_account_operation_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <select class="custom-select" id="type" name="type">
                        <option value="" selected>{{ 'Type'|trans }}</option>
                        {% for type_value in accountOperationType() %}
                            <option value="{{ type_value }}" {% if parameters.type == type_value %}selected{% endif %}>{{ type_value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i> {{ 'Search'|trans }}</button>
                <a class="btn {% if not (parameters.query or parameters.starts_at or parameters.ends_at or parameters.type) %}disabled{% endif %} btn-default" href="{{ path('admin_account_operation_index') }}">
                    <i class="fas fa-times"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th {% if account_operations.isSorted('ao.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'UUID'|trans, 'ao.uuid') }}</th>
                        <th {% if account_operations.isSorted('aoau.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Email'|trans, 'aoau.email') }}</th>
                        <th {% if account_operations.isSorted('ao.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Description'|trans, 'ao.description') }}</th>
                        <th {% if account_operations.isSorted('ao.EmailNotifications') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Email notifications'|trans, 'ao.emailNotifications') }}</th>
                        <th {% if account_operations.isSorted('ao.SmsNotifications') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Sms notifications'|trans, 'ao.smsNotifications') }}</th>
                        <th {% if account_operations.isSorted('ao.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Type'|trans, 'ao.type') }}</th>
                        <th {% if account_operations.isSorted('ao.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Deleted at'|trans, 'ao.deletedAt') }}</th>
                        <th {% if account_operations.isSorted('ao.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(account_operations, 'Updated at'|trans, 'ao.updatedAt') }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account_operation in account_operations %}
                        <tr>
                            <td><a href="{{ path('admin_account_operation_show', {'uuid': account_operation.uuid}) }}">{{ account_operation.uuid }}</a></td>
                            <td>
                                {% if account_operation.account and account_operation.account.user %}
                                    <a href="{{ path('admin_user_show', {'uuid': account_operation.account.user.uuid}) }}">{{ account_operation.account.user.email }}</a>
                                {% endif %}
                            </td>
                            <td>{{ account_operation.description }}</td>
                            <td>{{ account_operation.emailNotifications }}</td>
                            <td>{{ account_operation.smsNotifications }}</td>
                            <td>{{ account_operation.type }}</td>
                            <td>{{ account_operation.deletedAt ? account_operation.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ account_operation.updatedAt ? account_operation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop{{ account_operation.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ account_operation.id }}">
                                        <a class="dropdown-item" href="{{ path('admin_account_operation_show', {'uuid': account_operation.uuid}) }}"><i class="fas fa-eye"></i> {{ 'Show'|trans }}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">{{ 'No records found'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(account_operations) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Goals'|trans }}{% endblock %}
