{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.profile.phone) }}
    {{ form_row(form.profile.showMotivationalMessages) }}
    {{ form_row(form.profile.theme) }}
    {{ form_row(form.profile.timeZone) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.isEnabled) }}
    {{ form_row(form.isVerified) }}

    <hr>
    <button class="btn btn-primary">
        <i class="fas fa-save"></i>
        {{ button_label|default('Save'|trans) }}
    </button>
{{ form_end(form) }}
