{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.email) }}
    {% if constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
        {{ form_row(form.profile.phone) }}
    {% endif %}
    {{ form_row(form.profile.sendWeeklyMonthlyStatistics) }}
    {{ form_row(form.profile.showMotivationalMessages) }}
    {{ form_row(form.profile.theme) }}
    {{ form_row(form.profile.timeZone) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.type) }}
    {{ form_row(form.isEnabled) }}
    {{ form_row(form.isVerified) }}

    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" title="{{ button_label|default('Save'|trans) }}">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
