{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_workspace') }}">{{ 'Workspace'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">{{ 'Users'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'User details'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'User details'|trans }}
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_user_index') }}">
                <i class="fas fa-arrow-left"></i>
                {{ 'Back'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">{{ 'Basic'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">{{ 'Relations'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-account-tab" data-toggle="tab" href="#additional-account" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional account details'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-profile-tab" data-toggle="tab" href="#additional-profile" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional profile details'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-user-tab" data-toggle="tab" href="#additional-user" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional user details'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Email'|trans }}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Country'|trans }}</th>
                                <td>
                                    {% if user.profile %}
                                        {{ user.profile.country }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Phone'|trans }}</th>
                                <td>
                                    {% if user.profile and user.profile.phone %}
                                        {{ user.profile.phone|phone_number_format }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Theme'|trans }}</th>
                                <td>
                                    {% if user.profile %}
                                        {{ user.profile.theme }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Time zone'|trans }}</th>
                                <td>
                                    {% if user.profile %}
                                        {{ user.profile.timeZone }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Available email notifications'|trans }}</th>
                                <td>
                                    {% if user.account %}
                                        {{ user.account.availableEmailNotifications }}
                                    {% endif %}

                                    <a class="btn btn-info btn-sm float-right" href="{{ path('admin_account_operation_add_free_email', {'uuid': user.account}) }}" onclick="return confirm('Are you sure you want to execute this?');">
                                        <i class="fas fa-plus"></i>
                                        {{ 'Add free email notifications'|trans }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Available sms notifications'|trans }}</th>
                                <td>
                                    {% if user.account %}
                                        {{ user.account.availableSmsNotifications }}
                                    {% endif %}

                                    <a class="btn btn-info btn-sm float-right" href="{{ path('admin_account_operation_add_free_sms', {'uuid': user.account}) }}" onclick="return confirm('Are you sure you want to execute this?');">
                                        <i class="fas fa-plus"></i>
                                        {{ 'Add free sms notifications'|trans }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is enabled'|trans }}</th>
                                <td>
                                    {% if user.isEnabled %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is verified'|trans }}</th>
                                <td>
                                    {% if user.isVerified %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Goals'|trans }}</th>
                                <td>
                                    {% if user.goals|length %}
                                        <ul>
                                            {% for goal in user.goals %}
                                                <li><a href="{{ path('admin_goal_show', {'uuid': goal.uuid}) }}">{{ goal.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Notes'|trans }}</th>
                                <td>
                                    {% if user.notes|length %}
                                        <ul>
                                            {% for note in user.notes %}
                                                <li><a href="{{ path('admin_note_show', {'uuid': note.uuid}) }}">{{ note.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Reminders'|trans }}</th>
                                <td>
                                    {% if user.reminders|length %}
                                        <ul>
                                            {% for reminder in user.reminders %}
                                                <li><a href="{{ path('admin_reminder_show', {'uuid': reminder.uuid}) }}">{{ reminder.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Routines'|trans }}</th>
                                <td>
                                    {% if user.routines|length %}
                                        <ul>
                                            {% for routine in user.routines %}
                                                <li><a href="{{ path('admin_routine_show', {'uuid': routine.uuid}) }}">{{ routine.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional-account" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ user.account.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ user.account.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>
                                    {% if user.account.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.account.createdBy}) }}">{{ user.profile.createdBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>
                                    {% if user.account.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.account.deletedBy}) }}">{{ user.profile.deletedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>
                                    {% if user.account.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.account.updatedBy}) }}">{{ user.profile.updatedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ user.account.createdAt ? user.account.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ user.account.deletedAt ? user.account.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ user.account.updatedAt ? user.account.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional-profile" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ user.profile.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ user.profile.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>
                                    {% if user.profile.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.profile.createdBy}) }}">{{ user.profile.createdBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>
                                    {% if user.profile.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.profile.deletedBy}) }}">{{ user.profile.deletedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>
                                    {% if user.profile.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.profile.updatedBy}) }}">{{ user.profile.updatedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ user.profile.createdAt ? user.profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ user.profile.deletedAt ? user.profile.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ user.profile.updatedAt ? user.profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional-user" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ user.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>
                                    {% if user.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.createdBy}) }}">{{ user.createdBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>
                                    {% if user.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.deletedBy}) }}">{{ user.deletedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>
                                    {% if user.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': user.updatedBy}) }}">{{ user.updatedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ user.deletedAt ? user.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="btn btn-success" href="{{ path('admin_user_edit', {'uuid': user.uuid}) }}"><i class="fas fa-edit"></i> {{ 'Edit'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'User details'|trans }} {% endblock %}
