{% extends 'admin_layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'User details'|trans }} {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'Dashboard'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">{{ 'Users'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'User details'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'User details'|trans }}
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_user_index') }}">
                <i class="fas fa-arrow-left"></i>
                {{ 'Back'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">{{ 'Basic'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">{{ 'Relations'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Email'|trans }}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Country'|trans }}</th>
                                <td>
                                    {% if user.profile %}
                                        {{ user.profile.country }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Phone'|trans }}</th>
                                <td>
                                    {% if user.profile and user.profile.phone %}
                                        {{ user.profile.phone|phone_number_format }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Timezone'|trans }}</th>
                                <td>
                                    {% if user.profile %}
                                        {{ user.profile.timezone }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is enabled'|trans }}</th>
                                <td>
                                    {% if user.isEnabled %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is verified'|trans }}</th>
                                <td>
                                    {% if user.isVerified %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Routines'|trans }}</th>
                                <td>
                                    {% if user.routines|length %}
                                        <ul>
                                            {% for routine in user.routines %}
                                                <li><a href="{{ path('admin_routine_show', {'uuid': routine.uuid}) }}">{{ routine.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ user.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>{{ user.createdBy }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>{{ user.deletedBy }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>{{ user.updatedBy }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ user.deletedAt ? user.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="btn btn-success" href="{{ path('admin_user_edit', {'uuid': user.uuid}) }}"><i class="fas fa-edit"></i> {{ 'Edit'|trans }}</a>
        </div>
    </div>
{% endblock %}
