{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    <a href="{{ path('frontend_static_page_how_to') }}">
                        {{ 'How-to'|trans }}
                    </a> -
                    {{ 'Basic configuration'|trans }}
                </h1>
                <hr>
                {{ include('frontend/static_page/how_to/_basic_configuration_start.html.twig') }}
                <br>
                <div class="lead">
                    In the "Profile details" section you have links to 3 other sections:
                    <ul>
                        <li>
                            {{ 'Account'|trans }}
                        </li>
                        <li>
                            {{ 'Account operations'|trans }}
                        </li>
                        <li>
                            {{ 'Change password'|trans }}
                        </li>
                    </ul>
                </div>
                <br>
                {{ include('frontend/static_page/how_to/_basic_configuration_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_basic_configuration_edit.html.twig') }}
                <br>
                <div class="lead">
                    <b>
                        Other options
                    </b>
                </div>
                <br>
                {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
                    <div class="lead">
                        <b>
                            Phone
                        </b>
                        <br>
                        You need to provide your mobile phone number if you want to use SMS reminders.
                        Currently, SMS reminders are available for the following countries:
                        {% for country in constant('App\\Resource\\ConfigResource::COUNTRIES_ALLOWED_FOR_SMS') %}
                            <span class="badge badge-success">{{ country }}</span>
                        {% endfor %} .
                        Please provide mobile phone number in international format like +xx xxx xxx xxx .
                        The system will send you an SMS message to provided number with the verification code.
                        You will have to enter this verification code on the 'Phone verification' screen.
                    </div>
                {% endif %}
                {% if (true == constant('App\\Resource\\ConfigResource::INVITATIONS_ENABLED')) or (true == constant('App\\Resource\\ConfigResource::MOTIVATE_A_FRIEND_ENABLED')) %}
                    <br>
                    <div class="lead">
                        <b>
                            First name
                        </b>
                        <br>
                        The system needs this information if you want to send an invitation or motivational
                        message to a friend.
                    </div>
                    <br>
                    <div class="lead">
                        <b>
                            Last name
                        </b>
                        <br>
                        The system needs this information if you want to send an invitation or motivational
                        message to a friend.
                    </div>
                {% endif %}
                <br>
                <div class="lead">
                    <b>
                        Send weekly monthly statistics
                    </b>
                    <br>
                    If this option is on you will receive weekly/monthly/yearly emails with your
                    statistics.
                </div>
                <br>
                <div class="lead">
                    <b>
                        Show motivational messages
                    </b>
                    <br>
                    If this option is on you will see motivational messages while working with
                    the system.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How-to'|trans }} - {{ 'Basic configuration'|trans }}
{% endblock %}
