{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('frontend_static_page_how_to') }}">{{ 'How to'|trans }}</a> - {{ 'Basic configuration'|trans }}
                </h5>
                <hr>
                {{ include('frontend/static_page/how_to/_basic_configuration_start.html.twig') }}
                <br>
                <div>
                    In "Profile details" section you have link to 3 other sections:
                    <ul>
                        <li>
                            {{ 'Account'|trans }}
                        </li>
                        <li>
                            {{ 'Account operations'|trans }}
                        </li>
                        <li>
                            {{ 'Change password'|trans }}
                        </li>
                    </ul>
                </div>
                <br>
                {{ include('frontend/static_page/how_to/_basic_configuration_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_basic_configuration_edit.html.twig') }}
                <br>
                <div>
                    <div>
                        <h6><b>Other options</b></h6>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <h6><b>Phone</b></h6>
                        You need to provide your mobile phone number if you want to use SMS reminders. Currently SMS reminders are available for the following countires:
                        {% for country in constant('App\\Resource\\ConfigResource::COUNTRIES_ALLOWED_FOR_SMS') %}
                            <span class="badge badge-success">{{ country }}</span>
                        {% endfor %} .
                        Please provide mobile phone number in international format like +xx xxx xxx xxx . System will send you a SMS message to provided number with verification code.
                        You will have to enter this verification code in 'Phone verification' screen.
                    </div>
                </div>
                {% if (true == constant('App\\Resource\\ConfigResource::INVITATIONS_ENABLED')) or (true == constant('App\\Resource\\ConfigResource::MOTIVATE_A_FRIEND_ENABLED')) %}
                    <br>
                    <div>
                        <div>
                            <h6><b>First name</b></h6>
                            System needes this information if you want to send an invitation or motivational message to friend.
                        </div>
                    </div>
                    <br>
                    <div>
                        <div>
                            <h6><b>Last name</b></h6>
                            System needes this information if you want to send an invitation or motivational message to friend.
                        </div>
                    </div>
                {% endif %}
                <br>
                <div>
                    <div>
                        <h6><b>Send weekly monthly statistics</b></h6>
                        If this option is on you will receive a weekly/monthly/yearly emails with your statistics.
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <h6><b>Show motivational messages</b></h6>
                        If this option is on you will see a motivational messages while working with the system.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How to'|trans }} - {{ 'Basic configuration'|trans }}
{% endblock %}
