{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('frontend_static_page_how_to') }}">{{ 'How to'|trans }}</a> - <a href="{{ path('frontend_static_page_how_to_routines') }}">{{ 'Routines'|trans }}</a> - {{ 'Completing routines'|trans }}
                </h5>
                <div>
                    You can visit routine "Completed routines" section by clicking <a href="{{ path('frontend_routine_index') }}"> <i class="fas fa-sync"></i> {{ 'Routines'|trans }}</a> in navigation menu.
                    Than please click <button class="btn btn-primary btn-sm"><i class="fas fa-eye"></i> {{ 'Show'|trans }}</button> next to name of routine that you want to select.
                </div>
                <br>
                <div>
                    To complete routine you need to click on <button class="btn btn-primary btn-sm"><i class="fas fa-star"></i> {{ 'Complete a routine'|trans }}</button>.
                    You need to provide Minutes devoted. Also you can change date - in case if you forgot to complete your yesterdays routine. You can also provide a comment.
                </div>
                <br>
                <div>
                    Your next step could be creating a note. Please read more in <a href="{{ path('frontend_static_page_how_to_notes') }}">{{ 'Notes'|trans }}</a> documentation.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How to'|trans }} - {{ 'Routines'|trans }} - {{ 'Completing routines'|trans }}
{% endblock %}
