{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('frontend_static_page_how_to') }}">
                        {{ 'How to'|trans }}
                    </a> -
                    <a href="{{ path('frontend_static_page_how_to_routines') }}">
                        {{ 'Routines'|trans }}
                    </a> -
                    {{ 'Completing routines'|trans }}
                </h5>
                <hr>
                {{ include('frontend/static_page/how_to/_completing_routines_start.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_completing_routines_list.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_completing_routines_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_completing_routines_new.html.twig') }}
                <br>
                <div class="lead">
                    Your next step could be creating a note. Please read more in
                    <a href="{{ path('frontend_static_page_how_to_notes') }}">
                        {{ 'Notes'|trans }}
                    </a>
                    documentation.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How to'|trans }} - {{ 'Routines'|trans }} - {{ 'Completing routines'|trans }}
{% endblock %}
