{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('frontend_static_page_how_to') }}">{{ 'How to'|trans }}</a> - {{ 'Goals'|trans }}
                </h5>
                <hr>
                <div>
                    You can visit project "Goals" section by clicking <a href="#"><i class="fas fa-tools"></i> {{ 'Projects'|trans }}</a> in navigation menu.
                </div>
                <br>
                <div>
                    Click <button class="btn btn-primary btn-sm"><i class="fas fa-eye"></i> {{ 'Show'|trans }}</button> next to name of project that you want to select.
                </div>
                <br>
                {{ include('frontend/static_page/how_to/_goals_start.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_list.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_show2.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_new.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_edit.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How to'|trans }} - {{ 'Goals'|trans }}
{% endblock %}
