{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    <a href="{{ path('frontend_static_page_how_to') }}">
                        {{ 'How-to'|trans }}
                    </a> -
                    {{ 'Goals'|trans }}
                </h1>
                <hr>
                <div class="lead">
                    You can visit the project "Goals" section by clicking
                    <a href="#">
                        <i aria-hidden="true" class="bi bi-tools"></i>
                        {{ 'Projects'|trans }}
                    </a>
                    in the navigation menu.
                </div>
                <br>
                <div class="lead">
                    Click
                    <button class="btn btn-primary btn-sm">
                        <i aria-hidden="true" class="bi bi-eye"></i>
                        {{ 'Show'|trans }}
                    </button>
                    next to the name of a project that you want to select.
                </div>
                <br>
                {{ include('frontend/static_page/how_to/_goals_start.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_list.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_show2.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_new.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_goals_edit.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How-to'|trans }} - {{ 'Goals'|trans }}
{% endblock %}
