{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    <a href="{{ path('frontend_static_page_how_to') }}">
                        {{ 'How-to'|trans }}
                    </a> -
                    <a href="{{ path('frontend_static_page_how_to_routines') }}">
                        {{ 'Routines'|trans }}
                    </a> -
                    {{ 'Reminders'|trans }}
                </h1>
                <hr>
                {{ include('frontend/static_page/how_to/_reminders_start.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_reminders_list.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_reminders_show.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_reminders_show2.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_reminders_new.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_reminders_edit.html.twig') }}
                <br>
                <div class="lead">
                    Your next step should be completing a routine. Please read more in
                    <a href="{{ path('frontend_static_page_how_to_completing_routines') }}">
                        {{ 'Completing routines'|trans }}
                    </a>
                    documentation.
                </div>
                <br>
                <div class="lead">
                    <a href="{{ path('frontend_static_page_how_to_completing_routines') }}">
                        {{ 'Completing routines'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How-to'|trans }} - {{ 'Routines'|trans }} - {{ 'Reminders'|trans }}
{% endblock %}
