{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    <a href="{{ path('frontend_static_page_how_to') }}">
                        {{ 'How to'|trans }}
                    </a> -
                    {{ 'Rewards'|trans }}
                </h1>
                <hr>
                {{ include('frontend/static_page/how_to/_rewards_start.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_rewards_list.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_rewards_new.html.twig') }}
                <br>
                {{ include('frontend/static_page/how_to/_rewards_edit.html.twig') }}
                <br>
                <div class="lead">
                    Now when you visit "Rewards" section by clicking
                    <a href="#">
                        <i aria-hidden="true" class="bi bi-award"></i>
                        {{ 'Rewards'|trans }}
                    </a>
                    in navigation menu again you will see a list of your rewards.
                    You can view more details about each reward when you click
                    <button class="btn btn-primary btn-sm">
                        <i aria-hidden="true" class="bi bi-eye"></i>
                        {{ 'Show'|trans }}
                    </button>
                    next to its name.
                </div>
                <br>
                <div class="lead">
                    Your next step could be creating a project. Please read more in
                    <a href="{{ path('frontend_static_page_how_to_projects') }}">
                        {{ 'Projects'|trans }}
                    </a>
                    documentation.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'How to'|trans }} - {{ 'Rewards'|trans }}
{% endblock %}
