{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.content, {'attr': {'placeholder': 'Content of the testimonial.'|trans, 'rows': 5}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.signature, {'attr': {'placeholder': 'Signature of the testimonial.'|trans}}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" title="{{ button_label|default('Save'|trans) }}">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
