{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_retention_index') }}">
            {{ 'Retentions'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Retention details'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Retention details'|trans }}
            <a class="btn btn-secondary btn-sm float-right" href="{{ path('admin_retention_index') }}">
                <i aria-hidden="true" class="bi bi-x-square"></i>
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">
                        {{ 'Basic'|trans }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">
                        {{ 'Additional'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Date'|trans }}
                                </th>
                                <td>
                                    {{ retention.date ? retention.date|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Data'|trans }}
                                </th>
                                <td>
                                    {% for key, data in retention.data %}
                                        <ul>
                                            <li>
                                                {{ 'Date'|trans }}: {{ key }}
                                            </li>
                                            {% if data.activeCustomers is defined %}
                                                <li>
                                                    {{ 'Active customers'|trans }}: {{ data.activeCustomers }}
                                                </li>
                                            {% endif %}
                                            {% if data.allCustomers is defined %}
                                                <li>
                                                    {{ 'All customers'|trans }}: {{ data.allCustomers }}
                                                </li>
                                            {% endif %}
                                            {% if data.count is defined %}
                                                <li>
                                                    {{ 'Count'|trans }}: {{ data.count }}
                                                </li>
                                            {% endif %}
                                            {% if data.newCustomers is defined %}
                                                <li>
                                                    {{ 'New customers'|trans }}: {{ data.newCustomers }}
                                                </li>
                                            {% endif %}
                                            {% if data.percent is defined %}
                                                <li>
                                                    {{ 'Percent'|trans }}: {{ data.percent }}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'ID'|trans }}
                                </th>
                                <td>
                                    {{ retention.id }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'UUID'|trans }}
                                </th>
                                <td>
                                    {{ retention.uuid }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Created at'|trans }}
                                </th>
                                <td>
                                    {{ retention.createdAt ? retention.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Deleted at'|trans }}
                                </th>
                                <td>
                                    {% if retention.deletedAt %}
                                        {{ retention.deletedAt|date('Y-m-d H:i:s') }}
                                        <a class="btn btn-warning" href="{{ path('admin_retention_undelete', {'uuid': retention.uuid}) }}">
                                            <i aria-hidden="true" class="bi bi-trash-restore"></i>
                                            {{ 'Undelete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Updated at'|trans }}
                                </th>
                                <td>
                                    {{ retention.updatedAt ? retention.updatedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Retention details'|trans }}
{% endblock %}
