{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-5 mb-3">
            {{ 'Routines365'|trans }}
        </h1>
        <h2 class="display-5 mb-3">
            {{ 'We help. You achieve.'|trans }}
        </h2>
        <h2 class="display-5">
            Here is the perfect solution if you want to systematize your life and start achieving your goals.
        </h2>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <hr class="mb-4 mt-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button" title="{{ 'Login'|trans }}">
                    <i aria-hidden="true" class="bi bi-box-arrow-in-right"></i>
                    {{ 'Login'|trans }}
                </a>
                {% if true == constant('App\\Resource\\ConfigResource::REGISTRATION_ENABLED') %}
                    <a class="btn btn-primary btn-lg ml-2" href="{{ path('security_register') }}" role="button" title="{{ 'Register'|trans }}">
                        <i aria-hidden="true" class="bi bi-plus-square"></i>
                        {{ 'Register'|trans }}
                    </a>
                {% endif %}
            </p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Did you know that 50% of all adults make New Year’s resolutions?
                Less than 10% manage to keep them for more than a few months.
                <a href="https://www.researchgate.net/publication/11443909_Auld_Lang_Syne_Success_Predictors_Change_Processes_and_Self-Reported_Outcomes_of_New_Year's_Resolvers_and_Nonresolvers" target="_blank" title="Norcross, John & Mrykalo, Marci & Blagys, Matthew. (2002). Auld Lang Syne: Success Predictors, Change Processes, and Self-Reported Outcomes of New Year's Resolvers and Nonresolvers. Journal of clinical psychology. 58. 397-405. 10.1002/jclp.1151.">[1]</a>
                Did you know that 97% of the people who start writing a book never finish it?
                Did you know that people’s biggest regrets tend to involve things they have failed
                to do in their lives?
                <a href="https://psycnet.apa.org/buy/1995-05382-001" target="_blank" title="The temporal pattern to the experience of regret. By Gilovich, Thomas,Medvec, Victoria Husted Journal of Personality and Social Psychology, Vol 67(3), Sep 1994, 357-365">[2]</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Here is the problem you face: most people are not able to discipline, organize and
                self-motivate for a longer time. The road to success leads through failures.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                This means you may never achieve your goals if you will not get through all obstacles.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Luckily for you, there is now a solution. Let us introduce you to Routines365.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                The system has the following set of key features:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Routines'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can create a few different types of routines.
                    You can organize your daily activity around them.
                    <b>
                        You will be better organized and more productive.
                    </b>
                </li>
                <li>
                    You can mark the routine as completed.
                    You can see how many times you finished or missed your routine.
                    <b>
                        You will improve your self-discipline.
                    </b>
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Reminders'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-clock"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can create reminders that will remind you by email about your
                    routine before it starts.
                    You rest assured that you will not forget about routine.
                    <b>
                        You will devote more time to your planned activities.
                    </b>
                </li>
                <li>
                    The system can include a motivational quote in the reminder.
                    You can motivate yourself with a positive message each time you read a reminder.
                    <b>
                        You will work on your positive attitude toward achieving your goals.
                    </b>
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Goals'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-bullseye"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can create goals that you want to realize in your routines.
                    You can organize better your work.
                    <b>
                        You will be more effective when you plan your activities.
                    </b>
                </li>
                <li>
                    The system keeps track of how many goals you completed.
                    You can see your progress.
                    <b>
                        You will be better motivated to realize the remaining goals.
                    </b>
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Projects'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-tools"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can create projects where you can divide sophisticated problems into smaller goals.
                    You can assign these goals to routines.
                    <b>
                        You will have bigger chances to solve complicated problems.
                    </b>
                </li>
                <li>
                    The system keeps track of how many goals in the project you completed.
                    You can see the progress of your project.
                    <b>
                        You will be better motivated to realize the remaining project goals.
                    </b>
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Notes'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-pen"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can create notes where you clarify your thoughts and feelings.
                    You can know yourself better, reduce stress, sadness, and other painful emotions.
                    <b>
                        You will get more distance from things that you struggle with.
                    </b>
                </li>
                <li>
                    You can create notes to solve problems in more effective ways.
                    You can plan and summarize your weekly activities.
                    <b>
                        You will solve problems in easier and better ways.
                    </b>
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Rewards'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-award"></i>
            </h2>
            <ul>
                <li class="mb-2">
                    You can self-motivate yourself with small rewards for your achievements.
                    You can stay motivated and ready for completing new goals.
                    <b>
                        You will improve your goal-achieving statistics.
                    </b>
                </li>
                <li>
                    The system keeps track of your completed routines and goals.
                    You do not need to do this on your own.
                    <b>
                        The system will let you know when you deserve your reward.
                    </b>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                The system has also some other features:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Motivational messages'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-chat-left-quote"></i>
            </h2>
            <p>
                The system will show motivational messages while you will be using it.
                You can read inspirational messages more often than in reminders.
                <b>
                    You can longer stay motivated.
                </b>
            </p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Statistics'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-bar-chart-line"></i>
            </h2>
            <p>
                You will receive emails with weekly/monthly/yearly statistics showing your progress.
                You can check your efficiency with Efficiency 11 system.
                <b>
                    You will have data to assess your advances.
                </b>
            </p>
        </div>
        <div class="col-xl-4 col-md-6 mb-3">
            <h2 class="mb-1 text-center">
                {{ 'Achievements'|trans }}
                <br>
                <i aria-hidden="true" class="bi bi-trophy"></i>
            </h2>
            <p>
                You can collect achievements.
                You will know what areas of the system you are using.
                <b>
                    You will see how well you are using this system and its features.
                </b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                We designed and built this system to help you achieve your goals and realize your
                ambitions. We made sure it allows you to apply best practices and is in line with
                different methodologies.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                This system will make it easier for you to follow the advice of authorities.
            </p>
            <blockquote class="blockquote">
                <p class="mb-0">
                     You will never change your life until you change something you do daily.
                     The secret of your success is found in your daily routine.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://en.wikipedia.org/wiki/Darren_Hardy" target="_blank">
                        Darren Hardy
                    </a>
                </footer>
            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Successful people are simply those with successful habits.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://en.wikipedia.org/wiki/Brian_Tracy" target="_blank">
                        Brian Tracy
                    </a>
                </footer>
            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">
                     Wanting something is not enough. You must hunger for it. Your motivation
                     must be absolutely compelling in order to overcome the obstacles that will
                     invariably come your way.
                </p>
                <footer class="blockquote-footer">
                    <a href="https://en.wikipedia.org/wiki/Les_Brown_(speaker)" target="_blank">
                        Les Brown
                    </a>
                </footer>
            </blockquote>
        </div>
    </div>
    {% if testimonial %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="lead">
                    But do not take our word for it. Take a look at this.
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">
                        {{ testimonial.content }}
                    </p>
                    <footer class="blockquote-footer">
                        {{ testimonial.signature }}
                    </footer>
                </blockquote>
            </div>
        </div>
    {% endif %}
{% endblock %}
