{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">{{ 'Routines365'|trans }}</h1>
        <p class="lead">{{ 'Routines365'|trans }}</p>
        <hr class="my-4">
        <p>{{ 'Routines365'|trans }}</p>
        <p class="lead">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if true == constant('App\\Config::REGISTRATION_ENABLED') %}
                    <a class="btn btn-primary btn-lg" href="{{ path('security_register') }}" role="button">
                        <i class="fas fa-plus-square"></i>
                        {{ 'Register'|trans }}
                    </a>
                {% endif %}
                <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button">
                    <i class="fas fa-sign-in-alt"></i>
                    {{ 'Login'|trans }}
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block title %}{{ 'Homepage'|trans }}{% endblock %}
