{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-5 mb-3">
            {{ 'Routines365'|trans }}
        </h1>
        <h2 class="display-5 mb-3">
            {{ 'We help. You achieve.'|trans }}
        </h1>
        <h2 class="display-5">
            Here’s the perfect solution if you want to systematize your life and start achieving your goals.
        </h2>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <hr class="m-4">
            <p class="lead">
                {% if true == constant('App\\Resource\\ConfigResource::REGISTRATION_ENABLED') %}
                    <a class="btn btn-primary btn-lg mr-2" href="{{ path('security_register') }}" role="button" title="{{ 'Login'|trans }}">
                        <i aria-hidden="true" class="bi bi-plus-square"></i>
                        {{ 'Register'|trans }}
                    </a>
                {% endif %}
                <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button" title="{{ 'Login'|trans }}">
                    <i aria-hidden="true" class="bi bi-box-arrow-in-right"></i>
                    {{ 'Login'|trans }}
                </a>
            </p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Did you know that 50% of all adults make New Year’s resolutions? Less than 10% manage to keep them for more than a few months.
                <a href="https://www.researchgate.net/publication/11443909_Auld_Lang_Syne_Success_Predictors_Change_Processes_and_Self-Reported_Outcomes_of_New_Year's_Resolvers_and_Nonresolvers" rel="nofollow" target="_blank" title="Norcross, John & Mrykalo, Marci & Blagys, Matthew. (2002). Auld Lang Syne: Success Predictors, Change Processes, and Self-Reported Outcomes of New Year's Resolvers and Nonresolvers. Journal of clinical psychology. 58. 397-405. 10.1002/jclp.1151.">[1]</a>
                Did you know that 97% of the people who start writing a book never finish it? Did you know that people’s biggest regrets tend to involve things they have failed to do in their lives?
                <a href="https://psycnet.apa.org/buy/1995-05382-001" rel="nofollow" target="_blank" title="The temporal pattern to the experience of regret. By Gilovich, Thomas,Medvec, Victoria Husted Journal of Personality and Social Psychology, Vol 67(3), Sep 1994, 357-365">[2]</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Here’s the problem you face: most people are not able to discipline, organize and self motivate for the longer period of time. Road to success leads through failures.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Which means you may never achieve your goals if you’ll not get through all obstacles.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                Luckily for you, there’s now a solution. Let us introduce you to Routines365.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                System has the following set of features:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
                {{ 'Routines'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can create a few different types of routines so you can organize your daily activity around them. Which means that you will be better organized and more productive.
                </li>
                <li>
                    You can mark routine as completed so you can see how many times you missed your routine. Which means that you will improve your self-discipline.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-clock"></i>
                {{ 'Reminders'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can create reminders that will remind you by email or sms about your routine before it starts so you rest assured that you will not forget about routine. Which means that you will devote more time to your planed activities.
                </li>
                <li>
                    System can include a motivational quote in reminder so you can motivate yourself with positive message each time you read reminder. Which means that you can also work on your positive attitude toward achieving your goals.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-bullseye"></i>
                {{ 'Goals'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can create goals that you want to realize in your routines so you can organize better your work. Which means that you can be more productive when you plan your activities.
                </li>
                <li>
                    System keeps track on how many goals you completed so you can see your progress. Which means that you will be better motivated to realize remaining goals.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-tools"></i>
                {{ 'Projects'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can create projects so you can divide complicated problems into smaller goals that you can assign to routines. Which means that you have bigger chances to achieve complicated goals.
                </li>
                <li>
                    System keeps track on how many goals in project you completed so you can see progress of your project. Which means that you will be better motivated to realize remaining project goals.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-pen"></i>
                {{ 'Notes'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can create notes where you clarify your thoughts and feelings so you can know yourself better. Which means that you will get more distance to things that you struggle with.
                </li>
                <li>
                    You can create notes to solve problems in more effective ways so you can reduce stress, sadness and other painful emotions. Which means that you will be able to resolve problems easier and better ways.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-chat-left-quote"></i>
                {{ 'Motivational messages'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can send a motivational message to your friend so you can show other people that you wish them well and keep your fingers crossed for their success.
                </li>
                <li>
                    System will show motivational messages while you will be using it so you can read inspirational messages more often than in reminders. Which means that you can longer stay positively motivated.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-award"></i>
                {{ 'Rewards'|trans }}
            </h5>
            <ul>
                <li class="mb-2">
                    You can self motivate yourself with small rewards for your achievements so you can stay motivated and ready for completing new goals. Which means that you will be able to improve your goal achieving statistics.
                </li>
                <li>
                    System keeps track on your completed routines and goals so you don’t need to do this on your own. Which means that system will let you know when you deserve your reward.
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-bar-chart-line"></i>
                {{ 'Statistics'|trans }}
            </h5>
            <ul>
                <li>
                    You will receive emails with your weekly/monthly/yearly statistics so you can see your progress. Which means that you will have a data to assess your progress.
                </li>
                <li>
                    {{ 'Efficiency11 will show you your efficiency taking into account 11 factors.'|trans }}
                </li>
            </ul>
        </div>
        <div class="col-xl-4 col-md-6 mb-2">
            <h5 class="mb-2">
                <i aria-hidden="true" class="bi bi-trophy"></i>
                {{ 'Achievements'|trans }}
            </h5>
            <ul>
                <li>
                    You can collect achievements so you will know what areas of system you are using. Which means you will be able to see how well you are using this system and its features.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <p class="lead">
                We designed and built this system to help you achieve your goals. We made sure it allows you to apply best practices to get you to your objectives and realize your ambitions.
            </p>
        </div>
    </div>
    {% if testimonial %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="lead">
                    But do not take our word for it. Take a look at this.
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">
                        {{ testimonial.content }}
                    </p>
                    <footer class="blockquote-footer">
                        {{ testimonial.signature }}
                    </footer>
                </blockquote>
            </div>
        </div>
    {% endif %}
{% endblock %}
