{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Contact form'|trans }}
                </div>
                <div class="card-body">
                    {{ 'For interesting feature ideas, we offer rewards in the form of free notifications.'|trans }}
                    <hr>
                    {{ include('frontend/contact/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Contact form'|trans }}
{% endblock %}
