{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Notes'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Notes'|trans }} ({{ parameters.count }})
            <form action="{{ path('admin_note_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.query or parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_note_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if notes.isSorted('n.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'UUID'|trans, 'n.uuid') }}</th>
                            <th {% if notes.isSorted('nu.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'Email'|trans, 'nu.email') }}</th>
                            <th {% if notes.isSorted('n.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'Title'|trans, 'n.title') }}</th>
                            <th {% if notes.isSorted('n.Content') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'Content'|trans, 'n.content') }}</th>
                            <th {% if notes.isSorted('n.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'Deleted at'|trans, 'n.deletedAt') }}</th>
                            <th {% if notes.isSorted('n.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(notes, 'Updated at'|trans, 'n.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr>
                                <td><a href="{{ path('admin_note_show', {'uuid': note.uuid}) }}">{{ note.uuid }}</a></td>
                                <td>
                                    {% if note.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': note.user.uuid}) }}">{{ note.user.email }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if note.title %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if note.content %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ note.deletedAt ? note.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ note.updatedAt ? note.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ note.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ note.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_note_show', {'uuid': note.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(notes) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Notes'|trans }}{% endblock %}
