{{ form_start(form) }}
    {{ form_errors(form) }}

    {% if true == constant('App\\Resource\\ConfigResource::INVITATIONS_ENABLED') %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.lastName) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.phone, {'attr': {'placeholder': '+xx xxx xxx xxx'|trans}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.sendWeeklyMonthlyStatistics, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.showMotivationalMessages, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.theme, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.timeZone, {'attr': {'class': 'custom-select'}}) }}
{#
            <span id="tz-placeholder"></span>
#}
        </div>
        <div class="col-md-4">
            <a class="btn btn-success mt-4" href="#" id="find_time_zone">
                <i class="fas fa-search-location"></i>
                {{ 'Find time zone'|trans }}
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
