{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::BASIC_CONFIGURATION_EDIT') %}
                {{ include('frontend/static_page/how_to/_basic_configuration_edit.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Edit profile'|trans }}
                    <span class="float-right">
                        <a aria-label="{{ 'Information'|trans }}" class="btn btn-info btn-sm ml-2" href="{{ path('frontend_static_page_how_to_basic_configuration') }}" title="{{ 'Information'|trans }}">
                            <i aria-hidden="true" class="bi bi-question-square"></i>
                        </a>
                        <a aria-label="{{ 'Close'|trans }}" class="btn btn-secondary btn-sm ml-2" href="{{ path('frontend_profile_show') }}" title="{{ 'Close'|trans }}">
                            <i aria-hidden="true" class="bi bi-x-square"></i>
                        </a>
                    </span>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    {% if profile.timeZone == null %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ 'You do not have a selected Time zone yet. This is a very important for proper reminders configuration.'|trans }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {{ include('frontend/profile/_form.html.twig', {'button_label': 'Update'|trans}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('frontend-profile-edit') }}
{% endblock %}

{% block javascripts_inline %}
{#
    {{ parent() }}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timezone-picker@2.0.0-1/dist/timezone-picker.min.js"></script>
    <script type="text/javascript">
        setTimeout(function() {
            $('#tz-placeholder').timezonePicker({
                hoverText: function(e, data) {
                    return (data.timezone);
                },
                defaultValue: { value: "IN", attribute: "timezone" }
            });
        }, 1000)
    </script>
#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#
    <link href="https://cdn.jsdelivr.net/npm/timezone-picker@2.0.0-1/dist/styles/timezone-picker.css" rel="stylesheet"></head>
#}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Edit profile'|trans }}
{% endblock %}
