{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Edit profile'|trans }}
                    <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_profile_show') }}">
                        <i class="fas fa-times"></i>
                        {{ 'Close'|trans }}
                    </a>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    {{ include('frontend/profile/_form.html.twig', {'button_label': 'Update'|trans}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Edit profile'|trans }}{% endblock %}
