{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Phone verification'|trans }}
                    <span class="float-right">
                        <a aria-label="{{ 'Close'|trans }}" class="btn btn-light btn-sm" href="{{ path('frontend_profile_show') }}" title="{{ 'Close'|trans }}">
                            <i aria-hidden="true" class="bi bi-x-square"></i>
                        </a>
                    </span>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.phoneVerificationCode) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" title="{{ button_label|default('Verify'|trans) }}">
                                    <i aria-hidden="true" class="bi bi-check"></i>
                                    {{ button_label|default('Verify'|trans) }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Phone verification'|trans }}
{% endblock %}
