{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Profile details'|trans }}
                    <a class="btn btn-success btn-sm float-right ml-2" href="{{ path('frontend_profile_edit') }}">
                        <i class="fas fa-edit"></i>
                        {{ 'Edit'|trans }}
                    </a>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Email'|trans }}</th>
                                <td>{{ profile.user.email }}</td>
                            </tr>
                            {% if true == constant('App\\Config::INVITATIONS_ENABLED') %}
                                <tr>
                                    <th scope="row">{{ 'First name'|trans }}</th>
                                    <td>{{ profile.firstName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'Last name'|trans }}</th>
                                    <td>{{ profile.lastName }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">{{ 'Phone'|trans }}</th>
                                <td>
                                    {% if profile.phone %}
                                        {{ profile.phone|phone_number_format }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Show motivational messages'|trans }}</th>
                                <td>
                                    {% if profile.showMotivationalMessages %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Theme'|trans }}</th>
                                <td>{{ profile.theme }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Time zone'|trans }}</th>
                                <td>{{ profile.timeZone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Profile details'|trans }}{% endblock %}
