{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Profile details'|trans }}
                    <a class="btn btn-success btn-sm float-right ml-2" href="{{ path('frontend_profile_edit') }}">
                        <i class="fas fa-edit"></i>
                        {{ 'Edit'|trans }}
                    </a>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-md-3">
                            {{ 'Profile completeness'|trans }}: {{ profile.profileCompletenessPercent }}%
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ profile.profileCompletenessPercent }}%" aria-valuenow="{{ profile.profileCompletenessPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ 100 - profile.profileCompletenessPercent }}%" aria-valuenow="{{ 100 - profile.profileCompletenessPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Email'|trans }}
                                </th>
                                <td>
                                    {{ profile.user.email }}
                                    {% if profile.user.isVerified %}
                                        <span class="badge badge-success">
                                            {{ 'Verified'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'Not verified'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if true == constant('App\\Resource\\ConfigResource::INVITATIONS_ENABLED') %}
                                <tr>
                                    <th scope="row">
                                        {{ 'First name'|trans }}
                                    </th>
                                    <td>
                                        {{ profile.firstName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        {{ 'Last name'|trans }}
                                    </th>
                                    <td>
                                        {{ profile.lastName }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">
                                    {{ 'Phone'|trans }}
                                </th>
                                <td>
                                    {% if profile.phone %}
                                        {{ profile.phone|phone_number_format }}
                                        {% if profile.isVerified %}
                                            <span class="badge badge-success">
                                                {{ 'Verified'|trans }}
                                            </span>
                                        {% else %}
                                            <span class="badge badge-danger">
                                                {{ 'Not verified'|trans }}
                                            </span>
                                            <a href="{{ path('frontend_profile_phone_verification_code') }}">
                                                {{ 'I have the code'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Show motivational messages'|trans }}
                                </th>
                                <td>
                                    {% if profile.showMotivationalMessages %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Theme'|trans }}
                                </th>
                                <td>
                                    {{ profile.theme }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Time zone'|trans }}
                                </th>
                                <td>
                                    {{ profile.timeZone }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Profile details'|trans }}
{% endblock %}
