{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::BASIC_CONFIGURATION_FINISH') %}
                <a class="alert-link" href="{{ path('frontend_user_kyt_basic_configuration_finish') }}">
                    {{ 'Click here to finish'|trans }}
                </a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::BASIC_CONFIGURATION_SHOW') %}
                {{ include('frontend/static_page/how_to/_basic_configuration_show.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Profile details'|trans }}
                    <span class="float-right">
                        <a class="btn btn-success btn-sm" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_profile_edit', {'know_your_tools': constant('App\\Resource\\KytResource::BASIC_CONFIGURATION_EDIT')}) }}{% else %}{{ path('frontend_profile_edit') }}{% endif %}" title="{{ 'Edit'|trans }}">
                            <i aria-hidden="true" class="bi bi-pencil-square"></i>
                            {{ 'Edit'|trans }}
                        </a>
                        <a aria-label="{{ 'Information'|trans }}" class="btn btn-info btn-sm ml-2" href="{{ path('frontend_static_page_how_to_basic_configuration') }}" title="{{ 'Information'|trans }}">
                            <i aria-hidden="true" class="bi bi-question-square"></i>
                        </a>
                    </span>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-md-3">
                            {{ 'Profile completeness'|trans }}: {{ profile.profileCompletenessPercent }}%
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ profile.profileCompletenessPercent }}%" aria-valuenow="{{ profile.profileCompletenessPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ 100 - profile.profileCompletenessPercent }}%" aria-valuenow="{{ 100 - profile.profileCompletenessPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 35%;">
                                    {{ 'Email'|trans }}
                                </th>
                                <td>
                                    {{ profile.user.email }}
                                    {% if profile.user.isVerified %}
                                        <span class="badge badge-success">
                                            {{ 'Verified'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'Not verified'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
{#
                            <tr>
                                <th scope="row">
                                    {{ 'Two-factor authentication'|trans }}
                                </th>
                                <td>
                                    {% if profile.user.googleAuthenticatorEnabled %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                        <a class="btn btn-success btn-sm ml-4 mt-1" href="{{ path('frontend_user_enable_2fa') }}" title="{{ 'Enable 2FA'|trans }}">
                                            <i aria-hidden="true" class="bi bi-key"></i>
                                            {{ 'Show QR code'|trans }}
                                        </a>
                                        <a class="btn btn-danger btn-sm ml-3 mt-1" href="{{ path('frontend_user_disable_2fa') }}" title="{{ 'Disable 2FA'|trans }}">
                                            <i aria-hidden="true" class="bi bi-key"></i>
                                            {{ 'Disable 2FA'|trans }}
                                        </a>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                        <a class="btn btn-success btn-sm ml-4 mt-1" href="{{ path('frontend_user_enable_2fa') }}" title="{{ 'Enable 2FA'|trans }}">
                                            <i aria-hidden="true" class="bi bi-key"></i>
                                            {{ 'Enable 2FA'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
#}
                            {% if (true == constant('App\\Resource\\ConfigResource::INVITATIONS_ENABLED')) or (true == constant('App\\Resource\\ConfigResource::MOTIVATE_A_FRIEND_ENABLED')) %}
                                <tr>
                                    <th scope="row">
                                        {{ 'First name'|trans }}
                                    </th>
                                    <td>
                                        {{ profile.firstName }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        {{ 'Last name'|trans }}
                                    </th>
                                    <td>
                                        {{ profile.lastName }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
                                <tr>
                                    <th scope="row">
                                        {{ 'Phone'|trans }}
                                    </th>
                                    <td>
                                        {% if profile.phone %}
                                            {{ profile.phone|phone_number_format }}
                                            {% if profile.isVerified %}
                                                <span class="badge badge-success">
                                                    {{ 'Verified'|trans }}
                                                </span>
                                            {% else %}
                                                <span class="badge badge-danger">
                                                    {{ 'Not verified'|trans }}
                                                </span>
                                                <a href="{{ path('frontend_profile_phone_verification_code') }}">
                                                    {{ 'I have the code'|trans }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">
                                    {{ 'Send weekly monthly statistics'|trans }}
                                </th>
                                <td>
                                    {% if profile.sendWeeklyMonthlyStatistics %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Show motivational messages'|trans }}
                                </th>
                                <td>
                                    {% if profile.showMotivationalMessages %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Theme'|trans }}
                                </th>
                                <td>
                                    {{ profile.theme }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Time zone'|trans }}
                                </th>
                                <td>
                                    {{ profile.timeZone }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Profile details'|trans }}
{% endblock %}
