{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Account details'|trans }}
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 25%;">
                                    {{ 'Available notifications'|trans }}
                                </th>
                                <td>
                                    {{ account.availableNotifications }}
                                </td>
                            </tr>
                            {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
                                <tr>
                                    <th scope="row">
                                        {{ 'Available sms notifications'|trans }}
                                    </th>
                                    <td>
                                        {{ account.availableSmsNotifications }}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Account details'|trans }}
{% endblock %}
