{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Questionnaires'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Questionnaires'|trans }} ({{ parameters.count }})
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_questionnaire_new') }}">
                <i aria-hidden="true" class="bi bi-plus-square"></i>
                {{ 'Create'|trans }}
            </a>
            <form action="{{ path('admin_questionnaire_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.query or parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_questionnaire_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if questionnaires.isSorted('q.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'UUID'|trans, 'q.uuid') }}</th>
                            <th {% if questionnaires.isSorted('q.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'Title'|trans, 'q.title') }}</th>
                            <th {% if questionnaires.isSorted('q.Description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'Description'|trans, 'q.description') }}</th>
                            <th {% if questionnaires.isSorted('q.IsEnabled') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'Is enabled'|trans, 'q.isEnabled') }}</th>
                            <th {% if questionnaires.isSorted('q.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'Deleted at'|trans, 'q.deletedAt') }}</th>
                            <th {% if questionnaires.isSorted('q.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(questionnaires, 'Updated at'|trans, 'q.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionnaire in questionnaires %}
                            <tr>
                                <td><a href="{{ path('admin_questionnaire_show', {'uuid': questionnaire.uuid}) }}">{{ questionnaire.uuid }}</a></td>
                                <td>{{ questionnaire.title }}</td>
                                <td>{{ questionnaire.description }}</td>
                                <td>
                                    {% if questionnaire.isEnabled %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ questionnaire.deletedAt ? questionnaire.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ questionnaire.updatedAt ? questionnaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ questionnaire.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ questionnaire.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_questionnaire_show', {'uuid': questionnaire.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                            <a class="dropdown-item" href="{{ path('admin_questionnaire_edit', {'uuid': questionnaire.uuid}) }}"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(questionnaires) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Questionnaires'|trans }}{% endblock %}
