{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Completed routines'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Completed routines'|trans }} ({{ parameters.count }})
            <form action="{{ path('admin_completed_routine_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.query or parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_completed_routine_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if completed_routines.isSorted('cr.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'UUID'|trans, 'cr.uuid') }}</th>
                            <th {% if completed_routines.isSorted('cru.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'Email'|trans, 'cru.email') }}</th>
                            <th {% if completed_routines.isSorted('cr.Comment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'Comment'|trans, 'cr.comment') }}</th>
                            <th {% if completed_routines.isSorted('cr.MinutesDevoted') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'Minutes devoted'|trans, 'cr.minutesDevoted') }}</th>
                            <th {% if completed_routines.isSorted('cr.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'Deleted at'|trans, 'cr.deletedAt') }}</th>
                            <th {% if completed_routines.isSorted('cr.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(completed_routines, 'Updated at'|trans, 'cr.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for completed_routine in completed_routines %}
                            <tr>
                                <td><a href="{{ path('admin_completed_routine_show', {'uuid': completed_routine.uuid}) }}">{{ completed_routine.uuid }}</a></td>
                                <td>
                                    {% if completed_routine.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': completed_routine.user.uuid}) }}">{{ completed_routine.user.email }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if completed_routine.comment %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if completed_routine.minutesDevoted %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ completed_routine.deletedAt ? completed_routine.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ completed_routine.updatedAt ? completed_routine.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ completed_routine.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ completed_routine.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_completed_routine_show', {'uuid': completed_routine.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(completed_routines) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Completed routines'|trans }}{% endblock %}
