{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if achievements|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i class="fas fa-trophy"></i>
                    {{ 'Achievements'|trans }}
                </h3>
            </div>
        </div>
    {% endif %}
    <h4 class="text-center mt-5">{{ 'Completed routines'|trans }}</h4>
    <div class="row text-center">
        {% for achievement in achievements %}
            {% if achievement.type == constant('App\\Entity\\Achievement::TYPE_COMPLETED_ROUTINE') %}
                <div class="col-4 col-sm-3 col-md-2 mb-3 ml-3 mt-3">
                    <div class="badge {% if user.hasAchievement(achievement) %}badge-primary{% else %}badge-dark{% endif %} p-3" style="min-width: 151px;">
                        <h4><i class="fas fa-star"></i></h4><br><br>
                        <h5>{{ 'Level'|trans }} {{ achievement.level }}</h5><br><br>
                        {{ achievement.name }}<br><br>
                        ({{ achievement.requirement }} {{ 'required'|trans }})
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h4 class="text-center mt-5">{{ 'Completed goals'|trans }}</h4>
    <div class="row text-center">
        {% for achievement in achievements %}
            {% if achievement.type == constant('App\\Entity\\Achievement::TYPE_COMPLETED_GOAL') %}
                <div class="col-4 col-sm-3 col-md-2 mb-3 ml-3 mt-3">
                    <div class="badge {% if user.hasAchievement(achievement) %}badge-primary{% else %}badge-dark{% endif %} p-3" style="min-width: 151px;">
                        <h4><i class="fas fa-check"></i></h4><br><br>
                        <h5>{{ 'Level'|trans }} {{ achievement.level }}</h5><br><br>
                        {{ achievement.name }}<br><br>
                        ({{ achievement.requirement }} {{ 'required'|trans }})
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h4 class="text-center mt-5">{{ 'Completed projects'|trans }}</h4>
    <div class="row text-center">
        {% for achievement in achievements %}
            {% if achievement.type == constant('App\\Entity\\Achievement::TYPE_COMPLETED_PROJECT') %}
                <div class="col-4 col-sm-3 col-md-2 mb-3 ml-3 mt-3">
                    <div class="badge {% if user.hasAchievement(achievement) %}badge-primary{% else %}badge-dark{% endif %} p-3" style="min-width: 151px;">
                        <h4><i class="fas fa-check"></i></h4><br><br>
                        <h5>{{ 'Level'|trans }} {{ achievement.level }}</h5><br><br>
                        {{ achievement.name }}<br><br>
                        ({{ achievement.requirement }} {{ 'required'|trans }})
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h4 class="text-center mt-5">{{ 'Created notes'|trans }}</h4>
    <div class="row text-center">
        {% for achievement in achievements %}
            {% if achievement.type == constant('App\\Entity\\Achievement::TYPE_CREATED_NOTE') %}
                <div class="col-4 col-sm-3 col-md-2 mb-3 ml-3 mt-3">
                    <div class="badge {% if user.hasAchievement(achievement) %}badge-primary{% else %}badge-dark{% endif %} p-3" style="min-width: 151px;">
                        <h4><i class="fas fa-pen-fancy"></i></h4><br><br>
                        <h5>{{ 'Level'|trans }} {{ achievement.level }}</h5><br><br>
                        {{ achievement.name }}<br><br>
                        ({{ achievement.requirement }} {{ 'required'|trans }})
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Achievements'|trans }}
{% endblock %}
