{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Users questionnaires'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Questionnaires'|trans }} ({{ parameters.count }})
            <form action="{{ path('admin_user_questionnaire_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.query or parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_user_questionnaire_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if user_questionnaires.isSorted('uq.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'UUID'|trans, 'uq.uuid') }}</th>
                            <th {% if user_questionnaires.isSorted('uqu.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Email'|trans, 'uqu.email') }}</th>
                            <th {% if user_questionnaires.isSorted('uqq.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Questionnaire'|trans, 'uqq.title') }}</th>
                            <th {% if user_questionnaires.isSorted('uq.IsCompleted') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Is completed'|trans, 'uq.isCompleted') }}</th>
                            <th {% if user_questionnaires.isSorted('uq.IsRewarded') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Is rewarded'|trans, 'uq.IsRewarded') }}</th>
                            <th {% if user_questionnaires.isSorted('uq.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Deleted at'|trans, 'uq.deletedAt') }}</th>
                            <th {% if user_questionnaires.isSorted('uq.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(user_questionnaires, 'Updated at'|trans, 'uq.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_questionnaire in user_questionnaires %}
                            <tr>
                                <td><a href="{{ path('admin_user_questionnaire_show', {'uuid': user_questionnaire.uuid}) }}">{{ user_questionnaire.uuid }}</a></td>
                                <td>
                                    {% if user_questionnaire.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': user_questionnaire.user.uuid}) }}">{{ user_questionnaire.user.email }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_questionnaire.questionnaire %}
                                        <a href="{{ path('admin_questionnaire_show', {'uuid': user_questionnaire.questionnaire.uuid}) }}">{{ user_questionnaire.questionnaire.title }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_questionnaire.isCompleted %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_questionnaire.isRewarded %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ user_questionnaire.deletedAt ? user_questionnaire.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ user_questionnaire.updatedAt ? user_questionnaire.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ user_questionnaire.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ user_questionnaire.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_user_questionnaire_show', {'uuid': user_questionnaire.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(user_questionnaires) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Users questionnaires'|trans }}{% endblock %}
