{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.type, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.isEnabled, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
