{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if routines|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i class="fas fa-sync"></i>
                    {{ 'Routines'|trans }}
                </h3>
                <a class="btn btn-primary float-right" href="{{ path('frontend_routine_new') }}">
                    <i class="fas fa-sync"></i>
                    {{ 'Create routine'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for routine in routines %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        {{ routine.name }}
                        <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_routine_show', {'uuid': routine.uuid}) }}">
                            <i class="fas fa-eye"></i>
                            {{ 'Show'|trans }}
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ routine.description }}</p>
                        <p>
                            <span>
                                {{ 'Completed routines'|trans }}: {{ routine.completedRoutines|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Goals'|trans }}: {{ routine.goals|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Notes'|trans }}: {{ routine.notes|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Reminders'|trans }}: {{ routine.reminders|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Rewards'|trans }}: {{ routine.rewards|length }}
                            </span>
                        </p>
                        {% if routine.goalsCompletedPercent > 0 or routine.goalsNotCompletedPercent > 0 %}
                            <div class="row">
                                <div class="col-md-4">{{ 'Goals completed'|trans }} / {{ 'Goals not completed'|trans }}</div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ routine.goalsCompletedPercent }}%" aria-valuenow="{{ routine.goalsCompletedPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ routine.goalsNotCompletedPercent }}%" aria-valuenow="{{ routine.goalsNotCompletedPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-4 offset-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any routines!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{{ path('frontend_routine_new') }}">
                            <i class="fas fa-sync"></i>
                            {{ 'Create routine'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Routines'|trans }}{% endblock %}
