{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        {% if know_your_tools == constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_LIST') %}
            {% set know_your_tools_routines_show = constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_SHOW') %}
        {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_LIST') %}
            {% set know_your_tools_routines_show = constant('App\\Resource\\KytResource::GOALS_SHOW') %}
        {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_LIST') %}
            {% set know_your_tools_routines_show = constant('App\\Resource\\KytResource::REMINDERS_SHOW') %}
        {% endif %}

        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_LIST') %}
                {{ include('frontend/static_page/how_to/_completing_routines_list.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_LIST') %}
                {{ include('frontend/static_page/how_to/_goals_list.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_LIST') %}
                {{ include('frontend/static_page/how_to/_reminders_list.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::ROUTINES_LIST') %}
                {{ include('frontend/static_page/how_to/_routines_list.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if routines|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
                    {{ 'Routines'|trans }}
                </h3>
                <a aria-label="{{ 'Information'|trans }}" class="btn btn-info float-right ml-2" href="{{ path('frontend_static_page_how_to_routines') }}" title="{{ 'Information'|trans }}">
                    <i aria-hidden="true" class="bi bi-question-square"></i>
                </a>
                <a class="btn btn-primary float-right" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_routine_new', {'know_your_tools': constant('App\\Resource\\KytResource::ROUTINES_NEW')}) }}{% else %}{{ path('frontend_routine_new') }}{% endif %}" title="{{ 'Create a routine'|trans }}">
                    <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
                    {{ 'Create a routine'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for routine in routines %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                {{ routine.name }}
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary btn-sm float-right" href="{% if know_your_tools_routines_show is defined and know_your_tools_routines_show %}{{ path('frontend_routine_show', {'uuid': routine.uuid, 'know_your_tools': know_your_tools_routines_show}) }}{% else %}{{ path('frontend_routine_show', {'uuid': routine.uuid}) }}{% endif %}" title="{{ 'Show'|trans }}">
                                    <i aria-hidden="true" class="bi bi-eye"></i>
                                    {{ 'Show'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ routine.description }}
                        </p>
                        <p>
                            {{ 'Devoted time'|trans }}: {{ routine.completedRoutinesDevotedTime }}
                        </p>
                        <p>
                            <span>
                                {{ 'Completed routines'|trans }}: {{ routine.completedRoutines|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Goals'|trans }}: {{ routine.goals|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Notes'|trans }}: {{ routine.notes|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Reminders'|trans }}: {{ routine.reminders|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Rewards'|trans }}: {{ routine.rewards|length }}
                            </span>
                            <span class="ml-3">
                                {{ 'Sent reminders'|trans }}: {{ routine.sentReminders|length }}
                            </span>
                        </p>
                        {% if routine.completedRoutinesPercent > 0 or routine.sentRemindersPercent > 0 %}
                            <div class="row">
                                <div class="col-md-5 mb-2 mt-3">
                                    {{ 'Completed routines'|trans }} ({{ routine.completedRoutinesCount }}) / {{ 'Sent reminders'|trans }} ({{ routine.sentRemindersCount }})
                                </div>
                                <div class="col-md-4 mb-2 mt-3">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ routine.completedRoutinesPercent }}%" aria-valuenow="{{ routine.completedRoutinesPercent }}" aria-valuemin="0" aria-valuemax="100">
                                            {{ routine.completedRoutinesPercent }} &percnt;
                                        </div>
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ routine.sentRemindersPercent }}%" aria-valuenow="{{ routine.sentRemindersPercent }}" aria-valuemin="0" aria-valuemax="100">
                                            {{ routine.sentRemindersPercent }} &percnt;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2 mt-2">
                                    <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_completed_routine_new', {'uuid': routine.uuid}) }}" title="{{ 'Complete a routine'|trans }}">
                                        <i aria-hidden="true" class="bi bi-star"></i>
                                        {{ 'Complete a routine'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% if routine.goalsCompletedPercent > 0 or routine.goalsNotCompletedPercent > 0 %}
                            <div class="row">
                                <div class="col-md-5">
                                    {{ 'Goals completed'|trans }} ({{ routine.goalsCompletedCount }}) / {{ 'Goals not completed'|trans }} ({{ routine.goalsNotCompletedCount }})
                                </div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ routine.goalsCompletedPercent }}%" aria-valuenow="{{ routine.goalsCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">
                                            {{ routine.goalsCompletedPercent }} &percnt;
                                        </div>
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ routine.goalsNotCompletedPercent }}%" aria-valuenow="{{ routine.goalsNotCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">
                                            {{ routine.goalsNotCompletedPercent }} &percnt;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any routines!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_routine_new', {'know_your_tools': constant('App\\Resource\\KytResource::ROUTINES_NEW')}) }}{% else %}{{ path('frontend_routine_new') }}{% endif %}" title="{{ 'Create a routine'|trans }}">
                            <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
                            {{ 'Create a routine'|trans }}
                        </a>
                        <a class="btn btn-info ml-2" href="{{ path('frontend_user_kyt_start') }}" title="{{ 'Know your tools'|trans }}">
                            <i aria-hidden="true" class="bi bi-lightbulb"></i>
                            {{ 'Know your tools'|trans }}
                        </a>
                        <a aria-label="{{ 'Information'|trans }}" class="btn btn-info ml-2" href="{{ path('frontend_static_page_how_to_routines') }}" title="{{ 'Information'|trans }}">
                            <i aria-hidden="true" class="bi bi-question-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Routines'|trans }}
{% endblock %}
