{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ routine.name }}
                    <a class="btn btn-success btn-sm float-right ml-2" href="{{ path('frontend_routine_edit', {'uuid': routine.uuid}) }}">
                        <i class="fas fa-edit"></i>
                        {{ 'Edit'|trans }}
                    </a>
                    <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_routine_index') }}">
                        <i class="fas fa-arrow-left"></i>
                        {{ 'Back'|trans }}
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ routine.description }}</p>
                    <p>{{ 'Type'|trans }}: {{ routine.type }}</p>
                    <p>
                        {{ 'Is enabled'|trans }}:
                        {% if routine.isEnabled %}
                            <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                        {% else %}
                            <span class="badge badge-danger">{{ 'No'|trans }}</span>
                        {% endif %}
                    </p>
                    <hr>
                    {% include('frontend/routine/_navbar.html.twig') %}
                    <hr>
                    {% block routine_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('frontend-routines') }}
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Routine details'|trans }}{% endblock %}
