{% extends 'frontend/routine/show.html.twig' %}

{% block routine_content %}
    {% if know_your_tools == constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_SHOW') %}
        {% set know_your_tools_completing_routines_new = constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_NEW') %}
    {% endif %}

    <p>
        {{ 'Completed routines'|trans }}: {{ routine.completedRoutines|length }}
        <a class="btn btn-primary btn-sm float-right" href="{% if know_your_tools_completing_routines_new is defined and know_your_tools_completing_routines_new %}{{ path('frontend_completed_routine_new', {'uuid': routine.uuid, 'know_your_tools': know_your_tools_completing_routines_new}) }}{% else %}{{ path('frontend_completed_routine_new', {'uuid': routine.uuid}) }}{% endif %}">
            <i aria-hidden="true" class="bi bi-star"></i>
            {{ 'Complete a routine'|trans }}
        </a>
    </p>
    <p>
        {% for completed_routine in routine.completedRoutines|slice(-7) %}
            <span class="badge badge-success m-1 p-3">
                <i aria-hidden="true" class="bi bi-star"></i><br><br>
                {% if completed_routine.date %}
                    {{ completed_routine.date|date('Y-m-d')|format_datetime('short', 'none') }}
                {% else %}
                    {{ completed_routine.createdAt|date('Y-m-d')|format_datetime('short', 'none') }}
                {% endif %}
                <br><br>
                {{ completed_routine.minutesDevoted }}
            </span>
        {% endfor %}
    </p>
{% endblock %}
