{% extends 'frontend/routine/show.html.twig' %}

{% block routine_content %}
    <p>
        {{ 'Notes'|trans }}: {{ routine.notes|length }}
        <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_note_new', {'uuid': routine.uuid}) }}">
            <i aria-hidden="true" class="bi bi-pen"></i>
            {{ 'Create a note'|trans }}
        </a>
    </p>
    {% for note in routine.notes %}
        <p>
            <a href="{{ path('frontend_note_show', {'uuid': note.uuid}) }}">
                {{ note.title }}
            </a>
        </p>
    {% endfor %}
{% endblock %}
