{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_FINISH') %}
                <a href="{{ path('frontend_user_kyt_completing_routines_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::COMPLETING_ROUTINES_SHOW') %}
                {{ include('frontend/static_page/how_to/_completing_routines_show.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_FINISH') %}
                <a href="{{ path('frontend_user_kyt_goals_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_SHOW') %}
                {{ include('frontend/static_page/how_to/_goals_show.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_SHOW2') %}
                {{ include('frontend/static_page/how_to/_goals_show2.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_SHOW3') %}
                Click <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</button> in "Goals" list.
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_FINISH') %}
                <a href="{{ path('frontend_user_kyt_reminders_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_SHOW') %}
                {{ include('frontend/static_page/how_to/_reminders_show.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_SHOW2') %}
                {{ include('frontend/static_page/how_to/_reminders_show2.html.twig') }}
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_SHOW3') %}
                Click <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</button> in "Reminders" list.
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::ROUTINES_FINISH') %}
                <a href="{{ path('frontend_user_kyt_routines_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::ROUTINES_SHOW') %}
                Click <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</button>.
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-6">
                            {{ routine.name }}
                        </div>
                        <div class="col-md-4 col-6 text-right">
                            <a class="btn btn-success btn-sm" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_routine_edit', {'uuid': routine.uuid, 'know_your_tools': constant('App\\Resource\\KytResource::ROUTINES_EDIT')}) }}{% else %}{{ path('frontend_routine_edit', {'uuid': routine.uuid}) }}{% endif %}" title="{{ 'Edit'|trans }}">
                                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                                {{ 'Edit'|trans }}
                            </a>
                            <a aria-label="{{ 'Information'|trans }}" class="btn btn-info btn-sm ml-2" href="{{ path('frontend_static_page_how_to_routines') }}" title="{{ 'Information'|trans }}">
                                <i aria-hidden="true" class="bi bi-question-square"></i>
                            </a>
                            <a aria-label="{{ 'Close'|trans }}" class="btn btn-secondary btn-sm ml-2" href="{{ path('frontend_routine_index') }}" title="{{ 'Close'|trans }}">
                                <i aria-hidden="true" class="bi bi-x-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ routine.description }}
                    </p>
                    <p>
                        {{ 'Type'|trans }}: {{ routine.type }}
                    </p>
                    <p>
                        {{ 'Is enabled'|trans }}:
                        {% if routine.isEnabled %}
                            <span class="badge badge-success">
                                {{ 'Yes'|trans }}
                            </span>
                        {% else %}
                            <span class="badge badge-danger">
                                {{ 'No'|trans }}
                            </span>
                        {% endif %}
                    </p>
                    <p>
                        {{ 'Devoted time'|trans }}: {{ routine.completedRoutinesDevotedTime }}
                    </p>
                    <p>
                        <span>
                            {{ 'Completed routines'|trans }}: {{ routine.completedRoutines|length }}
                        </span>
                        <span class="ml-3">
                            {{ 'Goals'|trans }}: {{ routine.goals|length }}
                        </span>
                        <span class="ml-3">
                            {{ 'Notes'|trans }}: {{ routine.notes|length }}
                        </span>
                        <span class="ml-3">
                            {{ 'Reminders'|trans }}: {{ routine.reminders|length }}
                        </span>
                        <span class="ml-3">
                            {{ 'Rewards'|trans }}: {{ routine.rewards|length }}
                        </span>
                        <span class="ml-3">
                            {{ 'Sent reminders'|trans }}: {{ routine.sentReminders|length }}
                        </span>
                    </p>
                    {% if routine.completedRoutinesPercent > 0 or routine.sentRemindersPercent > 0 %}
                        <div class="row">
                            <div class="col-md-5">
                                {{ 'Completed routines'|trans }} ({{ routine.completedRoutinesCount }}) / {{ 'Sent reminders'|trans }} ({{ routine.sentRemindersCount }})
                            </div>
                            <div class="col-md-7">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ routine.completedRoutinesPercent }}%" aria-valuenow="{{ routine.completedRoutinesPercent }}" aria-valuemin="0" aria-valuemax="100">{{ routine.completedRoutinesPercent }} &percnt;</div>
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ routine.sentRemindersPercent }}%" aria-valuenow="{{ routine.sentRemindersPercent }}" aria-valuemin="0" aria-valuemax="100">{{ routine.sentRemindersPercent }} &percnt;</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if routine.goalsCompletedPercent > 0 or routine.goalsNotCompletedPercent > 0 %}
                        <div class="row">
                            <div class="col-md-5">
                                {{ 'Goals completed'|trans }} ({{ routine.goalsCompletedCount }}) / {{ 'Goals not completed'|trans }} ({{ routine.goalsNotCompletedCount }})
                            </div>
                            <div class="col-md-7">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ routine.goalsCompletedPercent }}%" aria-valuenow="{{ routine.goalsCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ routine.goalsCompletedPercent }} &percnt;</div>
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ routine.goalsNotCompletedPercent }}%" aria-valuenow="{{ routine.goalsNotCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ routine.goalsNotCompletedPercent }} &percnt;</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    {% include('frontend/routine/_navbar.html.twig') %}
                    <hr>
                    {% block routine_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('frontend-routines') }}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Routine details'|trans }}
{% endblock %}
