{% extends 'frontend/routine/show.html.twig' %}

{% block routine_content %}
    <p>
        {{ 'Rewards'|trans }}: {{ routine.rewards|length }}
        <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_reward_new', {'uuid': routine.uuid}) }}">
            <i class="fas fa-award"></i>
            {{ 'Create a reward'|trans }}
        </a>
    </p>
    {% for reward in routine.rewards %}
        <p>
            <a href="{{ path('frontend_reward_show', {'uuid': reward.uuid}) }}">
                {{ reward.name }}
            </a>
        </p>
    {% endfor %}
{% endblock %}
