{% extends 'frontend/routine/show.html.twig' %}

{% block routine_content %}
    {% if know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_SHOW2') %}
        {% set know_your_tools_reminders_new = constant('App\\Resource\\KytResource::REMINDERS_NEW') %}
    {% elseif know_your_tools == constant('App\\Resource\\KytResource::REMINDERS_SHOW3') %}
        {% set know_your_tools_reminders_edit = constant('App\\Resource\\KytResource::REMINDERS_EDIT') %}
    {% endif %}

    <p>
        {{ 'Reminders'|trans }}: {{ routine.reminders|length }}
        <a class="btn btn-primary btn-sm float-right" href="{% if know_your_tools_reminders_new is defined and know_your_tools_reminders_new %}{{ path('frontend_reminder_new', {'uuid': routine.uuid, 'know_your_tools': know_your_tools_reminders_new}) }}{% else %}{{ path('frontend_reminder_new', {'uuid': routine.uuid}) }}{% endif %}">
            <i class="fas fa-clock"></i>
            {{ 'Create a reminder'|trans }}
        </a>
    </p>
    {% if routine.reminders|length %}
        <div>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>
                                {{ 'Next reminder at'|trans }}
                            </th>
                            <th>
                                {{ 'Type'|trans }}
                            </th>
                            <th>
                                {{ 'Send email'|trans }}
                            </th>
                            <th>
                                {{ 'Send sms'|trans }}
                            </th>
                            <th>
                                {{ 'Send motivational message'|trans }}
                            </th>
                            <th>
                                {{ 'Is enabled'|trans }}
                            </th>
                            <th>
                                {{ 'Actions'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reminder in routine.reminders %}
                            <tr>
                                <td>
                                    {{ reminder.nextDate ? reminder.nextDate|date('Y-m-d H:i:s')|format_datetime : '' }}
                                </td>
                                <td>
                                    {{ reminder.type }}
                                </td>
                                <td>
                                    {% if reminder.sendEmail %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reminder.sendSms %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reminder.sendMotivationalMessage %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reminder.isEnabled %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td style="width: 10%;">
                                    <a class="btn btn-success btn-sm m-1" href="{% if know_your_tools_reminders_edit is defined and know_your_tools_reminders_edit %}{{ path('frontend_reminder_edit', {'uuid': reminder.uuid, 'know_your_tools': know_your_tools_reminders_edit}) }}{% else %}{{ path('frontend_reminder_edit', {'uuid': reminder.uuid}) }}{% endif %}">
                                        <i class="fas fa-edit"></i>
                                        {{ 'Edit'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
