{% extends 'frontend/routine/show.html.twig' %}

{% block routine_content %}
    {% if know_your_tools == constant('App\\Resource\\KytResource::GOALS_SHOW2') %}
        {% set know_your_tools_goals_new = constant('App\\Resource\\KytResource::GOALS_NEW') %}
    {% elseif know_your_tools == constant('App\\Resource\\KytResource::GOALS_SHOW3') %}
        {% set know_your_tools_goals_edit = constant('App\\Resource\\KytResource::GOALS_EDIT') %}
    {% endif %}

    <p>
        {{ 'Goals'|trans }}: {{ routine.goals|length }}
        <a class="btn btn-primary btn-sm float-right" href="{% if know_your_tools_goals_new is defined and know_your_tools_goals_new %}{{ path('frontend_goal_new', {'uuid': routine.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE'), 'know_your_tools': know_your_tools_goals_new}) }}{% else %}{{ path('frontend_goal_new', {'uuid': routine.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE')}) }}{% endif %}" title="{{ 'Create a goal'|trans }}">
            <i aria-hidden="true" class="bi bi-bullseye"></i>
            {{ 'Create a goal'|trans }}
        </a>
    </p>
    {% if routine.goals|length %}
        <ul class="nav nav-tabs">
            {% if routine.goalsNotCompleted|length %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#not-completed">
                        {{ 'Not completed'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if routine.goalsCompleted|length %}
                <li class="nav-item">
                    <a class="nav-link{% if routine.goalsNotCompleted|length == 0 %} active{% endif %}" data-toggle="tab" href="#completed">
                        {{ 'Completed'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
        <div id="myTabContent" class="tab-content mt-1">
            {% if routine.goalsNotCompleted|length %}
                <div class="tab-pane fade active show" id="not-completed">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>
                                        {{ 'Name'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Description'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Project'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Updated at'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Actions'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for goal in routine.goalsNotCompleted %}
                                    <tr>
                                        <td>
                                            {{ goal.name }}
                                        </td>
                                        <td>
                                            {{ goal.description }}
                                        </td>
                                        <td>
                                            {% if goal.project %}
                                                <a href="{{ path('frontend_project_show', {'uuid': goal.project.uuid}) }}">
                                                    {{ goal.project.name }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td style="width: 15%;">
                                            {{ goal.updatedAt ? goal.updatedAt|date('Y-m-d H:i:s')|format_datetime : '' }}
                                        </td>
                                        <td style="width: 25%;">
                                            <a class="btn btn-primary btn-sm m-1" href="{{ path('frontend_goal_complete', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE')}) }}" title="{{ 'Complete'|trans }}">
                                                <i aria-hidden="true" class="bi bi-check-circle"></i>
                                                {{ 'Complete'|trans }}
                                            </a>
                                            <a class="btn btn-success btn-sm m-1" href="{% if know_your_tools_goals_edit is defined and know_your_tools_goals_edit %}{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE'), 'know_your_tools': know_your_tools_goals_edit}) }}{% else %}{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE')}) }}{% endif %}" title="{{ 'Edit'|trans }}">
                                                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                                                {{ 'Edit'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if routine.goalsCompleted|length %}
                <div class="tab-pane fade{% if routine.goalsNotCompleted|length == 0 %} active show{% endif %}" id="completed">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>
                                        {{ 'Name'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Description'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Project'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Completed at'|trans }}
                                    </th>
                                    <th>
                                        {{ 'Actions'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for goal in routine.goalsCompleted %}
                                    <tr>
                                        <td>
                                            {{ goal.name }}
                                        </td>
                                        <td>
                                            {{ goal.description }}
                                        </td>
                                        <td>
                                            {% if goal.project %}
                                                <a href="{{ path('frontend_project_show', {'uuid': goal.project.uuid}) }}">
                                                    {{ goal.project.name }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td style="width: 15%;">
                                            {{ goal.completedAt ? goal.completedAt|date('Y-m-d H:i:s')|format_datetime : '' }}
                                        </td>
                                        <td style="width: 25%;">
                                            <a class="btn btn-success btn-sm" href="{% if know_your_tools_goals_edit is defined and know_your_tools_goals_edit %}{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE'), 'know_your_tools': know_your_tools_goals_edit}) }}{% else %}{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_ROUTINE')}) }}{% endif %}" title="{{ 'Edit'|trans }}">
                                                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                                                {{ 'Edit'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
