{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    {{ 'Reset your password'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(requestForm) }}
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ flashError }}
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(requestForm.email) }}
                            </div>
                        </div>
                        <div>
                            <small>
                                {{ 'Enter your email address and we will send you a link to reset your password.'|trans }}
                            </small>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-envelope"></i>
                                    {{ 'Send password reset email'|trans }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'Reset your password'|trans }}
{% endblock %}
