<form class="float-right" method="post" action="{{ path('frontend_reminder_delete', {'uuid': reminder.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reminder.uuid) }}">
    <button class="btn btn-sm btn-danger mr-4">
        <i aria-hidden="true" class="bi bi-trash"></i>
        {{ 'Delete'|trans }}
    </button>
    <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_static_page_how_to_reminders') }}">
        <i aria-hidden="true" class="bi bi-question-square"></i>
    </a>
    <a class="btn btn-light btn-sm" href="{{ path('frontend_routine_show_reminders', {'uuid': routine.uuid}) }}">
        <i aria-hidden="true" class="bi bi-x-square"></i>
        {{ 'Close'|trans }}
    </a>
</form>
