{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.hour) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.minutesBefore) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.type) }}
        </div>
    </div>

    <div class="row">
        {% if app.user.profile.country in constant('App\\Config::COUNTRIES_ALLOWED_FOR_SMS') %}
            {% set width = 3 %}
        {% else %}
            {% set width = 4 %}
        {% endif %}
        <div class="col-md-{{ width }}">
            {{ form_row(form.sendEmail) }}
        </div>
        {% if app.user.profile.country in constant('App\\Config::COUNTRIES_ALLOWED_FOR_SMS') %}
            <div class="col-md-{{ width }}">
                {{ form_row(form.sendSms) }}
            </div>
        {% endif %}
        <div class="col-md-{{ width }}">
            {{ form_row(form.sendMotivationalMessage) }}
        </div>
        <div class="col-md-{{ width }}">
            {{ form_row(form.isEnabled) }}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary">
                <i class="fas fa-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
