{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.hour) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.minutesBefore, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.type, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <div class="row">
        {% if app.user.profile.country in constant('App\\Resource\\ConfigResource::COUNTRIES_ALLOWED_FOR_SMS') %}
            {% set width = 4 %}
        {% else %}
            {% set width = 6 %}
        {% endif %}
        <div class="col-md-{{ width }}">
            {{ form_row(form.sendEmail, {'attr': {'class': 'custom-select'}}) }}
        </div>
        {% if app.user.profile.country in constant('App\\Resource\\ConfigResource::COUNTRIES_ALLOWED_FOR_SMS') %}
            <div class="col-md-{{ width }}">
                {{ form_row(form.sendSms, {'attr': {'class': 'custom-select'}}) }}
            </div>
        {% endif %}
        <div class="col-md-{{ width }}">
            {{ form_row(form.sendToBrowser, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.sendMotivationalMessage, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.isEnabled, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
