{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Edit reminder'|trans }}
                    <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_routine_show_reminders', {'uuid': routine.uuid}) }}">
                        <i class="fas fa-times"></i>
                        {{ 'Close'|trans }}
                    </a>
                </div>
                <div class="card-body">
                    {{ include('frontend/reminder/_form.html.twig', {'button_label': 'Update'|trans}) }}
                    <br>
                    {{ include('frontend/reminder/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Edit reminder'|trans }}{% endblock %}
