{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.content) }}
    {{ form_row(form.signature) }}
    {{ form_row(form.status) }}
    {{ form_row(form.isVisible) }}

    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" title="{{ button_label|default('Save'|trans) }}">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
