{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_testimonial_index') }}">
            {{ 'Testimonials'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Edit a testimonial'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Edit a testimonial'|trans }}
            <a class="btn btn-secondary btn-sm float-right" href="{{ path('admin_testimonial_index') }}">
                <i aria-hidden="true" class="bi bi-x-square"></i>
            </a>
        </div>
        <div class="card-body">
            {{ include('admin/testimonial/_form.html.twig', {'button_label': 'Update'|trans}) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Edit a testimonial'|trans }}
{% endblock %}
