{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_workspace') }}">{{ 'Workspace'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_quote_index') }}">{{ 'Quotes'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Quote details'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Quote details'|trans }}
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_quote_index') }}">
                <i class="fas fa-arrow-left"></i>
                {{ 'Back'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">{{ 'Basic'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Author'|trans }}</th>
                                <td>{{ quote.author }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Content'|trans }}</th>
                                <td>{{ quote.content }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Type'|trans }}</th>
                                <td>{{ quote.type }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is visible'|trans }}</th>
                                <td>
                                    {% if quote.isVisible %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ quote.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ quote.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Content MD5'|trans }}</th>
                                <td>{{ quote.contentMd5 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'String length'|trans }}</th>
                                <td>{{ quote.stringLength }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>
                                    {% if quote.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': quote.createdBy}) }}">{{ quote.createdBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>
                                    {% if quote.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': quote.deletedBy}) }}">{{ quote.deletedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>
                                    {% if quote.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': quote.updatedBy}) }}">{{ quote.updatedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ quote.createdAt ? quote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ quote.deletedAt ? quote.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ quote.updatedAt ? quote.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="btn btn-success" href="{{ path('admin_quote_edit', {'uuid': quote.uuid}) }}"><i class="fas fa-edit"></i> {{ 'Edit'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Quote details'|trans }} {% endblock %}
