{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Rewards'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Rewards'|trans }} ({{ parameters.count }})
            <form action="{{ path('admin_reward_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <select class="custom-select" id="type" name="type">
                        <option value="" selected>{{ 'Type'|trans }}</option>
                        {% for type_value in rewardType() %}
                            <option value="{{ type_value }}" {% if parameters.type == type_value %}selected{% endif %}>{{ type_value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" id="q" name="q" placeholder="{{ 'Search'|trans }}" type="text" value="{{ parameters.query }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.type or parameters.query or parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_reward_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if rewards.isSorted('r.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'UUID'|trans, 'r.uuid') }}</th>
                            <th {% if rewards.isSorted('ru.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Email'|trans, 'ru.email') }}</th>
                            <th {% if rewards.isSorted('r.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Name'|trans, 'r.name') }}</th>
                            <th {% if rewards.isSorted('r.Description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Description'|trans, 'r.description') }}</th>
                            <th {% if rewards.isSorted('r.IsAwarded') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Is awarded'|trans, 'r.isAwarded') }}</th>
                            <th {% if rewards.isSorted('r.NumberOfCompletions') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Number of completions'|trans, 'r.numberOfCompletions') }}</th>
                            <th {% if rewards.isSorted('r.RequiredNumberOfCompletions') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Required number of completions'|trans, 'r.requiredNumberOfCompletions') }}</th>
                            <th {% if rewards.isSorted('r.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Type'|trans, 'r.type') }}</th>
                            <th {% if rewards.isSorted('r.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Deleted at'|trans, 'r.deletedAt') }}</th>
                            <th {% if rewards.isSorted('r.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rewards, 'Updated at'|trans, 'r.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reward in rewards %}
                            <tr>
                                <td><a href="{{ path('admin_reward_show', {'uuid': reward.uuid}) }}">{{ reward.uuid }}</a></td>
                                <td>
                                    {% if reward.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': reward.user.uuid}) }}">{{ reward.user.email }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.name %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.description %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.isAwarded %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.numberOfCompletions %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.requiredNumberOfCompletions %}
                                        <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ reward.type }}</td>
                                <td>{{ reward.deletedAt ? reward.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ reward.updatedAt ? reward.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ reward.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ reward.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_reward_show', {'uuid': reward.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(rewards) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Rewards'|trans }}{% endblock %}
