{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_reward_index') }}">
            {{ 'Rewards'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'Reward details'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Reward details'|trans }}
            <a class="btn btn-secondary btn-sm float-right" href="{{ path('admin_reward_index') }}">
                <i aria-hidden="true" class="bi bi-x-square"></i>
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">
                        {{ 'Basic'|trans }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">
                        {{ 'Relations'|trans }}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">
                        {{ 'Additional'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Name'|trans }}
                                </th>
                                <td>
                                    {% if reward.name %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Description'|trans }}
                                </th>
                                <td>
                                    {% if reward.description %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Is awarded'|trans }}
                                </th>
                                <td>
                                    {% if reward.isAwarded %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Number of completions'|trans }}
                                </th>
                                <td>
                                    {% if reward.numberOfCompletions %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Required number of completions'|trans }}
                                </th>
                                <td>
                                    {% if reward.requiredNumberOfCompletions %}
                                        <span class="badge badge-success">
                                            {{ 'Yes'|trans }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-danger">
                                            {{ 'No'|trans }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Type'|trans }}
                                </th>
                                <td>
                                    {{ reward.type }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'Routine'|trans }}
                                </th>
                                <td>
                                    {% if reward.routine %}
                                        <a href="{{ path('admin_routine_show', {'uuid': reward.routine.uuid}) }}">
                                            {{ reward.routine.uuid }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'User'|trans }}
                                </th>
                                <td>
                                    {% if reward.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': reward.user.uuid}) }}">
                                            {{ reward.user.email }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">
                                    {{ 'ID'|trans }}
                                </th>
                                <td>
                                    {{ reward.id }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'UUID'|trans }}
                                </th>
                                <td>
                                    {{ reward.uuid }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Created by'|trans }}
                                </th>
                                <td>
                                    {% if reward.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': reward.createdBy}) }}">
                                            {{ reward.createdBy }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Deleted by'|trans }}
                                </th>
                                <td>
                                    {% if reward.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': reward.deletedBy}) }}">
                                            {{ reward.deletedBy }}
                                        </a>
                                        <a class="btn btn-warning" href="{{ path('admin_reward_undelete', {'uuid': reward.uuid}) }}">
                                            <i aria-hidden="true" class="bi bi-trash-restore"></i>
                                            {{ 'Undelete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Updated by'|trans }}
                                </th>
                                <td>
                                    {% if reward.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': reward.updatedBy}) }}">
                                            {{ reward.updatedBy }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Created at'|trans }}
                                </th>
                                <td>
                                    {{ reward.createdAt ? reward.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Deleted at'|trans }}
                                </th>
                                <td>
                                    {% if reward.deletedAt %}
                                        {{ reward.deletedAt|date('Y-m-d H:i:s') }}
                                        <a class="btn btn-warning" href="{{ path('admin_reward_undelete', {'uuid': reward.uuid}) }}">
                                            <i aria-hidden="true" class="bi bi-trash-restore"></i>
                                            {{ 'Undelete'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    {{ 'Updated at'|trans }}
                                </th>
                                <td>
                                    {{ reward.updatedAt ? reward.updatedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Reward details'|trans }}
{% endblock %}
