<form class="float-right" method="post" action="{{ path('frontend_note_delete', {'uuid': note.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.uuid) }}">
    <button class="btn btn-sm btn-danger mr-4">
        <i class="fa fa-trash"></i>
        {{ 'Delete'|trans }}
    </button>
    <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_static_page_how_to_notes') }}">
        <i class="fas fa-question"></i>
    </a>
    <a class="btn btn-light btn-sm" href="{{ path('frontend_note_show', {'uuid': note.uuid}) }}">
        <i class="fas fa-times"></i>
        {{ 'Close'|trans }}
    </a>
</form>
