{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.title, {'attr': {'placeholder': 'Title of the note.'|trans}}) }}
        </div>
    </div>
    {% if not note.routine %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.routine, {'attr': {'class': 'custom-select'}}) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.content, {'attr': {'placeholder': 'Content of the note.'|trans, 'rows': 7}}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" title="{{ button_label|default('Save'|trans) }}">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
