{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {% if not note.routine %}
        {{ form_row(form.routine) }}
    {% endif %}
    {{ form_row(form.content) }}

    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary">
                <i class="fas fa-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
