{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::NOTES_LIST') %}
                {{ include('frontend/static_page/how_to/_notes_list.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if notes|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i aria-hidden="true" class="bi bi-pen"></i>
                    {{ 'Notes'|trans }}
                </h3>
                <a aria-label="{{ 'Information'|trans }}" class="btn btn-info float-right ml-2" href="{{ path('frontend_static_page_how_to_notes') }}" title="{{ 'Information'|trans }}">
                    <i aria-hidden="true" class="bi bi-question-square"></i>
                </a>
                <a class="btn btn-primary float-right" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_note_new', {'know_your_tools': constant('App\\Resource\\KytResource::NOTES_NEW')}) }}{% else %}{{ path('frontend_note_new') }}{% endif %}" title="{{ 'Create a note'|trans }}">
                    <i aria-hidden="true" class="bi bi-pen"></i>
                    {{ 'Create a note'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for note in notes %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                {{ note.title }}
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_note_show', {'uuid': note.uuid}) }}" title="{{ 'Show'|trans }}">
                                    <i aria-hidden="true" class="bi bi-eye"></i>
                                    {{ 'Show'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if note.routine %}
                            <p class="card-text">
                                <a href="{{ path('frontend_routine_show_notes', {'uuid': note.routine.uuid}) }}">
                                    {{ note.routine.name }}
                                </a>
                            </p>
                        {% endif %}
                        <p class="card-text">
                            {{ note.content }}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s')|format_datetime : '' }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any notes!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_note_new', {'know_your_tools': constant('App\\Resource\\KytResource::NOTES_NEW')}) }}{% else %}{{ path('frontend_note_new') }}{% endif %}" title="{{ 'Create a note'|trans }}">
                            <i aria-hidden="true" class="bi bi-pen"></i>
                            {{ 'Create a note'|trans }}
                        </a>
                        <a class="btn btn-info ml-2" href="{{ path('frontend_user_kyt_start') }}" title="{{ 'Know your tools'|trans }}">
                            <i aria-hidden="true" class="bi bi-lightbulb"></i>
                            {{ 'Know your tools'|trans }}
                        </a>
                        <a aria-label="{{ 'Information'|trans }}" class="btn btn-info ml-2" href="{{ path('frontend_static_page_how_to_notes') }}" title="{{ 'Information'|trans }}">
                            <i aria-hidden="true" class="bi bi-question-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if notes|length %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="navigation">
                    {{ knp_pagination_render(notes) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Notes'|trans }}
{% endblock %}
