{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if notes|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i class="fas fa-pen-fancy"></i>
                    {{ 'Notes'|trans }}
                </h3>
                <a class="btn btn-primary float-right" href="{{ path('frontend_note_new') }}">
                    <i class="fas fa-pen-fancy"></i>
                    {{ 'Create a note'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for note in notes %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        {{ note.title }}
                        <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_note_show', {'uuid': note.uuid}) }}">
                            <i class="fas fa-eye"></i>
                            {{ 'Show'|trans }}
                        </a>
                    </div>
                    <div class="card-body">
                        {% if note.routine %}
                            <p class="card-text">
                                <a href="{{ path('frontend_routine_show_notes', {'uuid': note.routine.uuid}) }}">
                                    {{ note.routine.name }}
                                </a>
                            </p>
                        {% endif %}
                        <p class="card-text">
                            {{ note.content }}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-4 offset-md-4">
                <div class="card text-center text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any notes!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{{ path('frontend_note_new') }}">
                            <i class="fas fa-pen-fancy"></i>
                            {{ 'Create a note'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if notes|length %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="navigation">
                    {{ knp_pagination_render(notes) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Notes'|trans }}
{% endblock %}
