{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::NOTES_FINISH') %}
                <a href="{{ path('frontend_user_kyt_notes_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::NOTES_SHOW') %}
                Click on <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</button>.
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-6">
                            {{ note.title }}
                        </div>
                        <div class="col-md-4 col-6">
                            <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_static_page_how_to_notes') }}">
                                <i aria-hidden="true" class="bi bi-question-square"></i>
                            </a>
                            <a class="btn btn-success btn-sm float-right ml-2" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_note_edit', {'uuid': note.uuid, 'know_your_tools': constant('App\\Resource\\KytResource::NOTES_EDIT')}) }}{% else %}{{ path('frontend_note_edit', {'uuid': note.uuid}) }}{% endif %}">
                                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                                {{ 'Edit'|trans }}
                            </a>
                            <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_note_index') }}">
                                <i aria-hidden="true" class="bi bi-arrow-left-square"></i>
                                {{ 'Back'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% if note.routine %}
                        <p class="card-text">
                            <a href="{{ path('frontend_routine_show_notes', {'uuid': note.routine.uuid}) }}">
                                {{ note.routine.name }}
                            </a>
                        </p>
                    {% endif %}
                    <p class="card-text">
                        {{ note.content }}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Note details'|trans }}
{% endblock %}
