{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    {{ note.title }}
                    <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_note_edit', {'uuid': note.uuid}) }}">
                        <i class="fas fa-edit"></i>
                        {{ 'Edit'|trans }}
                    </a>
                    <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_note_index') }}">
                        <i class="fas fa-arrow-left"></i>
                        {{ 'Back'|trans }}
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ path('frontend_routine_show', {'uuid': note.routine.uuid}) }}">
                            {{ note.routine.name }}
                        </a>
                    </p>
                    <p class="card-text">{{ note.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Note details'|trans }} {% endblock %}
