{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('admin_user_kpi_index') }}">
            {{ 'User KPIs'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'User KPI details'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'KPI details'|trans }}
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_user_kpi_index') }}">
                <i class="fas fa-arrow-left"></i>
                {{ 'Back'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">{{ 'Basic'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">{{ 'Relations'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Date'|trans }}</th>
                                <td>{{ user_kpi.date ? user_kpi.date|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Account operations'|trans }}</th>
                                <td>{{ user_kpi.accountOperationCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Awarded rewards'|trans }}</th>
                                <td>{{ user_kpi.awardedRewardCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Completed goals'|trans }}</th>
                                <td>{{ user_kpi.completedGoalCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Completed projects'|trans }}</th>
                                <td>{{ user_kpi.completedProjectCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Completed routines'|trans }}</th>
                                <td>{{ user_kpi.completedRoutineCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Contacts'|trans }}</th>
                                <td>{{ user_kpi.contactCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Goals'|trans }}</th>
                                <td>{{ user_kpi.goalCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Notes'|trans }}</th>
                                <td>{{ user_kpi.noteCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Project'|trans }}</th>
                                <td>{{ user_kpi.projectCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Reminders'|trans }}</th>
                                <td>{{ user_kpi.reminderCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Rewards'|trans }}</th>
                                <td>{{ user_kpi.rewardCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Routines'|trans }}</th>
                                <td>{{ user_kpi.routineCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Saved emails'|trans }}</th>
                                <td>{{ user_kpi.savedEmailCounter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Type'|trans }}</th>
                                <td>{{ user_kpi.type }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Next User KPI'|trans }}</th>
                                <td>
                                    {% if user_kpi.nextUserKpi %}
                                        <a href="{{ path('admin_user_kpi_show', {'uuid': user_kpi.nextUserKpi.uuid}) }}">{{ user_kpi.nextUserKpi.uuid }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Previous User KPI'|trans }}</th>
                                <td>
                                    {% if user_kpi.previousUserKpi %}
                                        <a href="{{ path('admin_user_kpi_show', {'uuid': user_kpi.previousUserKpi.uuid}) }}">{{ user_kpi.previousUserKpi.uuid }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'User'|trans }}</th>
                                <td>
                                    {% if user_kpi.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': user_kpi.user.uuid}) }}">{{ user_kpi.user.email }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ user_kpi.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ user_kpi.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ user_kpi.createdAt ? user_kpi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>
                                    {% if user_kpi.deletedAt %}
                                        {{ user_kpi.deletedAt|date('Y-m-d H:i:s') }}
                                        <a class="btn btn-warning" href="{{ path('admin_user_kpi_undelete', {'uuid': user_kpi.uuid}) }}"><i class="fa fa-trash-restore"></i> {{ 'Undelete'|trans }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ user_kpi.updatedAt ? user_kpi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'User KPI details'|trans }}{% endblock %}
