{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::GOALS_NEW') %}
                {{ include('frontend/static_page/how_to/_goals_new.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Create a goal'|trans }}
                    <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_static_page_how_to_goals') }}">
                        <i aria-hidden="true" class="bi bi-question-square"></i>
                    </a>
                    {% if project %}
                        <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_project_show', {'uuid': project.uuid}) }}">
                            <i aria-hidden="true" class="bi bi-x-square"></i>
                            {{ 'Close'|trans }}
                        </a>
                    {% elseif routine %}
                        <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_routine_show_goals', {'uuid': routine.uuid}) }}">
                            <i aria-hidden="true" class="bi bi-x-square"></i>
                            {{ 'Close'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    {{ include('frontend/goal/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Create a goal'|trans }}
{% endblock %}
