{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_workspace') }}">{{ 'Workspace'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('admin_routine_index') }}">{{ 'Routines'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Routine details'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Routine details'|trans }}
            <a class="btn btn-info btn-sm float-right" href="{{ path('admin_routine_index') }}">
                <i class="fas fa-arrow-left"></i>
                {{ 'Back'|trans }}
            </a>
            <ul class="nav nav-tabs card-header-tabs mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="home" aria-selected="true">{{ 'Basic'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="relations-tab" data-toggle="tab" href="#relations" role="tab" aria-controls="relations" aria-selected="true">{{ 'Relations'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false">{{ 'Additional'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Name'|trans }}</th>
                                <td>
                                    {% if routine.name %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Description'|trans }}</th>
                                <td>
                                    {% if routine.description %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Type'|trans }}</th>
                                <td>{{ routine.type }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Is enabled'|trans }}</th>
                                <td>
                                    {% if routine.isEnabled %}
                                        <span class="badge badge-primary">{{ 'Yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'Goals'|trans }}</th>
                                <td>
                                    {% if routine.goals|length %}
                                        <ul>
                                            {% for goal in routine.goals %}
                                                <li><a href="{{ path('admin_goal_show', {'uuid': goal.uuid}) }}">{{ goal.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Notes'|trans }}</th>
                                <td>
                                    {% if routine.notes|length %}
                                        <ul>
                                            {% for note in routine.notes %}
                                                <li><a href="{{ path('admin_note_show', {'uuid': note.uuid}) }}">{{ note.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Reminders'|trans }}</th>
                                <td>
                                    {% if routine.reminders|length %}
                                        <ul>
                                            {% for reminder in routine.reminders %}
                                                <li><a href="{{ path('admin_reminder_show', {'uuid': reminder.uuid}) }}">{{ reminder.uuid }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'User'|trans }}</th>
                                <td>
                                    {% if routine.user %}
                                        <a href="{{ path('admin_user_show', {'uuid': routine.user.uuid}) }}">{{ routine.user.email }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 20%;">{{ 'ID'|trans }}</th>
                                <td>{{ routine.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'UUID'|trans }}</th>
                                <td>{{ routine.uuid }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created by'|trans }}</th>
                                <td>
                                    {% if routine.createdBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': routine.createdBy}) }}">{{ routine.createdBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted by'|trans }}</th>
                                <td>
                                    {% if routine.deletedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': routine.deletedBy}) }}">{{ routine.deletedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated by'|trans }}</th>
                                <td>
                                    {% if routine.updatedBy %}
                                        <a href="{{ path('admin_user_show', {'uuid': routine.updatedBy}) }}">{{ routine.updatedBy }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Created at'|trans }}</th>
                                <td>{{ routine.createdAt ? routine.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Deleted at'|trans }}</th>
                                <td>{{ routine.deletedAt ? routine.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Updated at'|trans }}</th>
                                <td>{{ routine.updatedAt ? routine.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Routine details'|trans }} {% endblock %}
