<form class="float-right" method="post" action="{{ path('frontend_reward_delete', {'uuid': reward.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reward.uuid) }}">
    <button aria-label="{{ 'Delete'|trans }}" class="btn btn-sm btn-danger" title="{{ 'Delete'|trans }}">
        <i aria-hidden="true" class="bi bi-trash"></i>
    </button>
    <a aria-label="{{ 'Information'|trans }}" class="btn btn-info btn-sm ml-2" href="{{ path('frontend_static_page_how_to_rewards') }}" title="{{ 'Information'|trans }}">
        <i aria-hidden="true" class="bi bi-question-square"></i>
    </a>
    <a aria-label="{{ 'Close'|trans }}" class="btn btn-light btn-sm ml-2" href="{{ path('frontend_reward_show', {'uuid': reward.uuid}) }}" title="{{ 'Close'|trans }}">
        <i aria-hidden="true" class="bi bi-x-square"></i>
    </a>
</form>
