{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    {% if not reward.routine %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.routine) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.type, {'attr': {'class': 'custom-select'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.requiredNumberOfCompletions, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description, {'attr': {'rows': 5}}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
