{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::REWARDS_LIST') %}
                {{ include('frontend/static_page/how_to/_rewards_list.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if rewards|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i class="fas fa-award"></i>
                    {{ 'Rewards'|trans }}
                </h3>
                <a class="btn btn-info float-right ml-2" href="{{ path('frontend_static_page_how_to_rewards') }}">
                    <i class="fas fa-question"></i>
                </a>
                <a class="btn btn-primary float-right" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_reward_new', {'know_your_tools': constant('App\\Resource\\KytResource::REWARDS_NEW')}) }}{% else %}{{ path('frontend_reward_new') }}{% endif %}">
                    <i class="fas fa-pen-fancy"></i>
                    {{ 'Create a reward'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for reward in rewards %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                {{ reward.name }}
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_reward_show', {'uuid': reward.uuid}) }}">
                                    <i class="fas fa-eye"></i>
                                    {{ 'Show'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if reward.isAwarded %}
                            <h2>
                                <i class="fas fa-award"></i>
                                {{ 'Awarded'|trans }}
                                <i class="fas fa-thumbs-up"></i>
                            </h2>
                        {% endif %}
                        <p class="card-text">
                            <a href="{{ path('frontend_routine_show_rewards', {'uuid': reward.routine.uuid}) }}">
                                {{ reward.routine.name }}
                            </a>
                        </p>
                        <p class="card-text">
                            {{ reward.description }}
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ reward.numberOfCompletionsPercent }}%" aria-valuenow="{{ reward.numberOfCompletionsPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 100 - reward.numberOfCompletionsPercent }}%" aria-valuenow="{{ 100 - reward.numberOfCompletionsPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any rewards!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_reward_new', {'know_your_tools': constant('App\\Resource\\KytResource::REWARDS_NEW')}) }}{% else %}{{ path('frontend_reward_new') }}{% endif %}">
                            <i class="fas fa-pen-fancy"></i>
                            {{ 'Create a reward'|trans }}
                        </a>
                        <a class="btn btn-info ml-2" href="{{ path('frontend_user_kyt_start') }}">
                            <i class="fas fa-lightbulb"></i>
                            {{ 'Know your tools'|trans }}
                        </a>
                        <a class="btn btn-info ml-2" href="{{ path('frontend_static_page_how_to_rewards') }}">
                            <i class="fas fa-question"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if rewards|length %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="navigation">
                    {{ knp_pagination_render(rewards) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Rewards'|trans }}
{% endblock %}
