{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if rewards|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <a class="btn btn-primary float-right" href="{{ path('frontend_reward_new') }}"><i class="fas fa-pen-fancy"></i> {{ 'Create Reward'|trans }}</a>
            </div>
        </div>
    {% endif %}
    {% for reward in rewards %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card text-white bg-secondary">
                    <div class="card-header">
                        {{ reward.name }}
                        <a class="btn btn-info btn-sm float-right ml-2" href="{{ path('frontend_reward_edit', {'uuid': reward.uuid}) }}">
                            <i class="fas fa-edit"></i>
                            {{ 'Edit'|trans }}
                        </a>
                        <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_reward_show', {'uuid': reward.uuid}) }}">
                            <i class="fas fa-eye"></i>
                            {{ 'Show'|trans }}
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{ path('frontend_routine_show', {'uuid': reward.routine.uuid}) }}">
                                {{ reward.routine.name }}
                            </a>
                        </p>
                        <p class="card-text">{{ reward.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-4 offset-md-4">
                <div class="card text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">{{ 'You do not have any Rewards!'|trans }}</p>
                        <a class="btn btn-primary" href="{{ path('frontend_reward_new') }}"><i class="fas fa-pen-fancy"></i> {{ 'Create Reward'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if rewards|length %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="navigation">
                    {{ knp_pagination_render(rewards) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Rewards'|trans }}{% endblock %}
