{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::REWARDS_FINISH') %}
                <a href="{{ path('frontend_user_kyt_rewards_finish') }}">{{ 'Click here to finish'|trans }}</a>
            {% elseif know_your_tools == constant('App\\Resource\\KytResource::REWARDS_SHOW') %}
                Click on <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-pencil-square"></i> {{ 'Edit'|trans }}</button>.
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-6">
                            {{ reward.name }}
                        </div>
                        <div class="col-md-4 col-6 text-right">
                            <a class="btn btn-success btn-sm" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_reward_edit', {'uuid': reward.uuid, 'know_your_tools': constant('App\\Resource\\KytResource::REWARDS_EDIT')}) }}{% else %}{{ path('frontend_reward_edit', {'uuid': reward.uuid}) }}{% endif %}" title="{{ 'Edit'|trans }}">
                                <i aria-hidden="true" class="bi bi-pencil-square"></i>
                                {{ 'Edit'|trans }}
                            </a>
                            <a aria-label="{{ 'Information'|trans }}" class="btn btn-info btn-sm ml-2" href="{{ path('frontend_static_page_how_to_rewards') }}" title="{{ 'Information'|trans }}">
                                <i aria-hidden="true" class="bi bi-question-square"></i>
                            </a>
                            <a aria-label="{{ 'Close'|trans }}" class="btn btn-light btn-sm ml-2" href="{{ path('frontend_reward_index') }}" title="{{ 'Close'|trans }}">
                                <i aria-hidden="true" class="bi bi-x-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% if reward.isAwarded %}
                        <h2>
                            <i aria-hidden="true" class="bi bi-award"></i>
                            {{ 'Awarded'|trans }}
                            <i aria-hidden="true" class="bi bi-hand-thumbs-up"></i>
                        </h2>
                    {% endif %}
                    {% if reward.routine %}
                        <p class="card-text">
                            <a href="{{ path('frontend_routine_show_rewards', {'uuid': reward.routine.uuid}) }}">
                                {{ reward.routine.name }}
                            </a>
                        </p>
                    {% endif %}
                    <p class="card-text">
                        {{ reward.description }}
                    </p>
                    <p>
                        <span>
                            {{ 'Number of completions'|trans }}: {{ reward.numberOfCompletions }}
                        </span>
                        <span class="ml-3">
                            {{ 'Required number of completions'|trans }}: {{ reward.requiredNumberOfCompletions }}
                        </span>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ reward.numberOfCompletionsPercent }}%" aria-valuenow="{{ reward.numberOfCompletionsPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 100 - reward.numberOfCompletionsPercent }}%" aria-valuenow="{{ 100 - reward.numberOfCompletionsPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Reward details'|trans }}
{% endblock %}
