{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Motivate a friend'|trans }}
                </div>
                <div class="card-body">
                    <div class="row mb-1 p-3">
                        <div class="col-md-4">
                            <span {% if quotes.isSorted('q.Content') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(quotes, 'Quote'|trans, 'q.content') }}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span {% if quotes.isSorted('q.Author') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(quotes, 'Author'|trans, 'q.author') }}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <span {% if quotes.isSorted('q.Popularity') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(quotes, 'Popularity'|trans, 'q.popularity') }}
                            </span>
                        </div>
                    </div>
                    {% for quote in quotes %}
                        <div class="row mb-1 p-3">
                            <div class="col-md-8">
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        {{ quote.content }}
                                    </p>
                                    <footer class="blockquote-footer">
                                        {{ quote.author }}
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="col-md-2">
                                {{ quote.popularity }}
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-primary" href="{{ path('frontend_quote_send', {'uuid': quote.uuid}) }}" title="{{ 'Send'|trans }}">
                                    <i aria-hidden="true" class="bi bi-envelope"></i>
                                    {{ 'Send'|trans }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if quotes|length %}
                        <div class="row mb-5">
                            <div class="col-md-10 offset-md-1">
                                <div class="navigation">
                                    {{ knp_pagination_render(quotes) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Motivate a friend'|trans }}
{% endblock %}
