{% extends 'frontend_layout.html.twig' %}

{% block content %}
    {% if know_your_tools is defined and know_your_tools %}
        <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
            {% if know_your_tools == constant('App\\Resource\\KytResource::PROJECTS_LIST') %}
                {{ include('frontend/static_page/how_to/_projects_list.html.twig') }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if projects|length %}
        <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
                <h3 class="float-left">
                    <i aria-hidden="true" class="bi bi-tools"></i>
                    {{ 'Projects'|trans }}
                </h3>
                <a aria-label="{{ 'Information'|trans }}" class="btn btn-info float-right ml-2" href="{{ path('frontend_static_page_how_to_projects') }}" title="{{ 'Information'|trans }}">
                    <i aria-hidden="true" class="bi bi-question-square"></i>
                </a>
                <a class="btn btn-primary float-right" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_project_new', {'know_your_tools': constant('App\\Resource\\KytResource::PROJECTS_NEW')}) }}{% else %}{{ path('frontend_project_new') }}{% endif %}" title="{{ 'Create a project'|trans }}">
                    <i aria-hidden="true" class="bi bi-tools"></i>
                    {{ 'Create a project'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% for project in projects %}
        <div class="row mb-5">
            <div class="col-md-10 offset-md-1">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                {{ project.name }}
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_project_show', {'uuid': project.uuid}) }}" title="{{ 'Show'|trans }}">
                                    <i aria-hidden="true" class="bi bi-eye"></i>
                                    {{ 'Show'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ project.description }}</p>
                        <p>
                            {{ 'Is completed'|trans }}:
                            {% if project.isCompleted %}
                                <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ 'No'|trans }}</span>
                            {% endif %}
                        </p>
                        <p>
                            <span>
                                {{ 'Goals'|trans }}: {{ project.goals|length }}
                            </span>
                        </p>
                        {% if project.goalsCompletedPercent > 0 or project.goalsNotCompletedPercent > 0 %}
                            <div class="row">
                                <div class="col-md-5">{{ 'Goals completed'|trans }} ({{ project.goalsCompletedCount }}) / {{ 'Goals not completed'|trans }} ({{ project.goalsNotCompletedCount }})</div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.goalsCompletedPercent }}%" aria-valuenow="{{ project.goalsCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ project.goalsCompletedPercent }} &percnt;</div>
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ project.goalsNotCompletedPercent }}%" aria-valuenow="{{ project.goalsNotCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ project.goalsNotCompletedPercent }} &percnt;</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center text-white bg-secondary">
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'You do not have any projects!'|trans }}
                        </p>
                        <a class="btn btn-primary" href="{% if know_your_tools is defined and know_your_tools %}{{ path('frontend_project_new', {'know_your_tools': constant('App\\Resource\\KytResource::PROJECTS_NEW')}) }}{% else %}{{ path('frontend_project_new') }}{% endif %}" title="{{ 'Create a project'|trans }}">
                            <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
                            {{ 'Create a project'|trans }}
                        </a>
                        <a class="btn btn-info ml-2" href="{{ path('frontend_user_kyt_start') }}" title="{{ 'Know your tools'|trans }}">
                            <i aria-hidden="true" class="bi bi-lightbulb"></i>
                            {{ 'Know your tools'|trans }}
                        </a>
                        <a aria-label="{{ 'Information'|trans }}" class="btn btn-info ml-2" href="{{ path('frontend_static_page_how_to_projects') }}" title="{{ 'Information'|trans }}">
                            <i aria-hidden="true" class="bi bi-question-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Projects'|trans }}
{% endblock %}
