{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-6">
                            {{ project.name }}
                        </div>
                        <div class="col-md-4 col-6">
                            <a class="btn btn-success btn-sm float-right ml-2" href="{{ path('frontend_project_edit', {'uuid': project.uuid}) }}">
                                <i class="fas fa-edit"></i>
                                {{ 'Edit'|trans }}
                            </a>
                            <a class="btn btn-light btn-sm float-right" href="{{ path('frontend_project_index') }}">
                                <i class="fas fa-arrow-left"></i>
                                {{ 'Back'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ project.description }}</p>
                    <p>
                        {{ 'Is completed'|trans }}:
                        {% if project.isCompleted %}
                            <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                        {% else %}
                            <span class="badge badge-danger">{{ 'No'|trans }}</span>
                        {% endif %}
                    </p>
                    {% if project.goalsCompletedPercent > 0 or project.goalsNotCompletedPercent > 0 %}
                        <div class="row mb-3">
                            <div class="col-md-5">{{ 'Goals completed'|trans }} ({{ project.goalsCompletedCount }}) / {{ 'Goals not completed'|trans }} ({{ project.goalsNotCompletedCount }})</div>
                            <div class="col-md-7">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.goalsCompletedPercent }}%" aria-valuenow="{{ project.goalsCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ project.goalsCompletedPercent }} &percnt;</div>
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ project.goalsNotCompletedPercent }}%" aria-valuenow="{{ project.goalsNotCompletedPercent }}" aria-valuemin="0" aria-valuemax="100">{{ project.goalsNotCompletedPercent }} &percnt;</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <p>
                        {{ 'Goals'|trans }}: {{ project.goals|length }}
                        <a class="btn btn-primary btn-sm float-right" href="{{ path('frontend_goal_new', {'uuid': project.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_PROJECT')}) }}">
                            <i class="fas fa-bullseye"></i>
                            {{ 'Create a goal'|trans }}
                        </a>
                    </p>
                    {% if project.goals|length %}
                        <ul class="nav nav-tabs">
                            {% if project.goalsNotCompleted|length %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#not-completed">
                                        {{ 'Not completed'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if project.goalsCompleted|length %}
                                <li class="nav-item">
                                    <a class="nav-link{% if project.goalsNotCompleted|length == 0 %} active{% endif %}" data-toggle="tab" href="#completed">
                                        {{ 'Completed'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div id="myTabContent" class="tab-content mt-1">
                            {% if project.goalsNotCompleted|length %}
                                <div class="tab-pane fade active show" id="not-completed">
                                    <table class="table table-dark">
                                        <thead>
                                            <tr>
                                                <th>
                                                    {{ 'Name'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Description'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Routine'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Updated at'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Actions'|trans }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for goal in project.goalsNotCompleted %}
                                                <tr>
                                                    <td>
                                                        {{ goal.name }}
                                                    </td>
                                                    <td>
                                                        {{ goal.description }}
                                                    </td>
                                                    <td>
                                                        {% if goal.routine %}
                                                            <a href="{{ path('frontend_routine_show', {'uuid': goal.routine.uuid}) }}">
                                                                {{ goal.routine.name }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: 15%;">
                                                        {{ goal.updatedAt ? goal.updatedAt|date('Y-m-d H:i:s') : '' }}
                                                    </td>
                                                    <td style="width: 25%;">
                                                        <a class="btn btn-primary btn-sm m-1" href="{{ path('frontend_goal_complete', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_PROJECT')}) }}">
                                                            <i class="fas fa-check"></i>
                                                            {{ 'Complete'|trans }}
                                                        </a>
                                                        <a class="btn btn-success btn-sm m-1" href="{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_PROJECT')}) }}">
                                                            <i class="fas fa-edit"></i>
                                                            {{ 'Edit'|trans }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            {% if project.goalsCompleted|length %}
                                <div class="tab-pane fade{% if project.goalsNotCompleted|length == 0 %} active show{% endif %}" id="completed">
                                    <table class="table table-dark">
                                        <thead>
                                            <tr>
                                                <th>
                                                    {{ 'Name'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Description'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Routine'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Updated at'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'Actions'|trans }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for goal in project.goalsCompleted %}
                                                <tr>
                                                    <td>
                                                        {{ goal.name }}
                                                    </td>
                                                    <td>
                                                        {{ goal.description }}
                                                    </td>
                                                    <td>
                                                        {% if goal.routine %}
                                                            <a href="{{ path('frontend_routine_show', {'uuid': goal.routine.uuid}) }}">
                                                                {{ goal.routine.name }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: 15%;">
                                                        {{ goal.updatedAt ? goal.updatedAt|date('Y-m-d H:i:s') : '' }}
                                                    </td>
                                                    <td style="width: 25%;">
                                                        <a class="btn btn-success btn-sm m-1" href="{{ path('frontend_goal_edit', {'uuid': goal.uuid, 'context': constant('App\\Entity\\Goal::CONTEXT_PROJECT')}) }}">
                                                            <i class="fas fa-edit"></i>
                                                            {{ 'Edit'|trans }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Project details'|trans }}{% endblock %}
