<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin_workspace') }}">{{ 'Routines365'|trans }} {{ 'Admin'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_workspace') }}"><i aria-hidden="true" class="bi bi-speedometer2"></i> {{ 'Workspace'|trans }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'User content'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUserContent">
                    <a class="dropdown-item" href="{{ path('admin_completed_routine_index') }}"><i aria-hidden="true" class="bi bi-star"></i> {{ 'Completed routines'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_goal_index') }}"><i aria-hidden="true" class="bi bi-bullseye"></i> {{ 'Goals'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_note_index') }}"><i aria-hidden="true" class="bi bi-pen"></i> {{ 'Notes'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_project_index') }}"><i aria-hidden="true" class="bi bi-tools"></i> {{ 'Projects'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reminder_index') }}"><i aria-hidden="true" class="bi bi-clock"></i> {{ 'Reminders'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reward_index') }}"><i aria-hidden="true" class="bi bi-award"></i> {{ 'Rewards'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_routine_index') }}"><i aria-hidden="true" class="bi bi-arrow-repeat"></i> {{ 'Routines'|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSystemOperations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'System operations'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUserContent">
                    <a class="dropdown-item" href="{{ path('admin_account_operation_index') }}"><i aria-hidden="true" class="bi bi-calculator-fill"></i> {{ 'Account operations'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_cron_report_index') }}"><i aria-hidden="true" class="bi bi-file-earmark-text"></i> {{ 'Cron reports'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_kpi_index') }}"><i aria-hidden="true" class="bi bi-bar-chart-line"></i> {{ 'KPIs'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reminder_message_index') }}"><i aria-hidden="true" class="bi bi-envelope"></i> {{ 'Reminder messages'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_report_index') }}"><i aria-hidden="true" class="bi bi-clipboard-check"></i> {{ 'Reports'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_retention_index') }}"><i aria-hidden="true" class="bi bi-bar-chart-line"></i> {{ 'Retentions'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_sent_reminder_index') }}"><i aria-hidden="true" class="bi bi-envelope"></i> {{ 'Sent reminders'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_user_kpi_index') }}"><i aria-hidden="true" class="bi bi-bar-chart-line"></i> {{ 'User KPIs'|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSystem" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'System'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSystem">
                    <a class="dropdown-item" href="{{ path('admin_achievement_index') }}"><i aria-hidden="true" class="bi bi-trophy"></i> {{ 'Achievements'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_contact_index') }}"><i aria-hidden="true" class="bi bi-envelope"></i> {{ 'Contacts'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_cron_job_index') }}"><i aria-hidden="true" class="bi bi-list-task"></i> {{ 'Cron jobs'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_questionnaire_index') }}"><i aria-hidden="true" class="bi bi-bar-chart-steps"></i> {{ 'Questionnaires'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_quote_index') }}"><i aria-hidden="true" class="bi bi-chat-left-quote"></i> {{ 'Quotes'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_promotion_index') }}"><i aria-hidden="true" class="bi bi-plus-square"></i> {{ 'Promotions'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_saved_email_index') }}"><i aria-hidden="true" class="bi bi-envelope"></i> {{ 'Saved emails'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_testimonial_index') }}"><i aria-hidden="true" class="bi bi-chat-left-quote"></i> {{ 'Testimonials'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_user_index') }}"><i aria-hidden="true" class="bi bi-person"></i> {{ 'Users'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_user_questionnaire_index') }}"><i aria-hidden="true" class="bi bi-bar-chart-steps"></i> {{ 'Users questionnaires'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security_logout') }}"><i aria-hidden="true" class="bi bi-box-arrow-right"></i> {{ 'Logout'|trans }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
