<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('admin_workspace') }}">{{ 'Routines365'|trans }} {{ 'Admin'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_workspace') }}"><i class="fas fa-tachometer-alt"></i> {{ 'Workspace'|trans }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'User content'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUserContent">
                    <a class="dropdown-item" href="{{ path('admin_completed_routine_index') }}"><i class="fas fa-star"></i> {{ 'Completed routines'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_goal_index') }}"><i class="fas fa-bullseye"></i> {{ 'Goals'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_note_index') }}"><i class="fas fa-pen-fancy"></i> {{ 'Notes'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_project_index') }}"><i class="fas fa-tools"></i> {{ 'Projects'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reminder_index') }}"><i class="fas fa-clock"></i> {{ 'Reminders'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reward_index') }}"><i class="fas fa-award"></i> {{ 'Rewards'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_routine_index') }}"><i class="fas fa-sync"></i> {{ 'Routines'|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSystem" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'System'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSystem">
                    <a class="dropdown-item" href="{{ path('admin_account_operation_index') }}"><i class="fas fa-calculator"></i> {{ 'Account operations'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_contact_index') }}"><i class="fas fa-envelope"></i> {{ 'Contacts'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_cron_job_index') }}"><i class="fas fa-tasks"></i> {{ 'Cron jobs'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_cron_report_index') }}"><i class="fas fa-file-alt"></i> {{ 'Cron reports'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_kpi_index') }}"><i class="fas fa-chart-line"></i> {{ 'KPIs'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_quote_index') }}"><i class="fas fa-quote-left"></i> {{ 'Quotes'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_reminder_message_index') }}"><i class="fas fa-envelope"></i> {{ 'Reminder messages'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_sent_reminder_index') }}"><i class="fas fa-envelope"></i> {{ 'Sent reminders'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('admin_user_index') }}"><i class="fas fa-users"></i> {{ 'Users'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i> {{ 'Logout'|trans }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
