{% apply inky_to_html %}
    <container>
        <row>
            <columns>
                <h1 class="text-center">Routines365</h1>
                <h2 class="text-center">We help. You achieve.</h2>
            </columns>
        </row>
    </container>

    {% block content %}{% endblock %}

    <container>
        <row>
            <columns>
                <center>
                    <menu class="text-center">
                        <item href="{{ url('frontend_home') }}">Homepage</item>
                        | <item href="{{ url('frontend_static_page_contact') }}">Contact</item>
                        | <item href="{{ url('frontend_static_page_faq') }}">FAQ</item>
                        | <item href="{{ url('frontend_static_page_how_to') }}">How-to</item>
                        | <item href="{{ url('frontend_user_kyt_start') }}">Know your tools</item>
                        | <item href="{{ url('security_login') }}">Login</item>
                        {% if true == constant('App\\Resource\\ConfigResource::REGISTRATION_ENABLED') %}
                            | <item href="{{ url('security_register') }}">Register</item>
                        {% endif %}
                    </menu>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
