{% extends 'base.html.twig' %}

{% block body %}
    {% include('frontend_navbar.html.twig') %}

    <main role="main">
        <div class="container-fluid mt-4">
            {% if app.request.hasPreviousSession %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show col-md-8 offset-md-2" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="footer">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_about') }}">{{ 'About'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_disclaimer') }}">{{ 'Disclaimer'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_privacy_policy') }}">{{ 'Privacy Policy'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_terms_and_conditions') }}">{{ 'Terms and Conditions'|trans }}</a></li>
                    </ul>
                    <p class="text-center">{{ 'Copyright'|trans }} &copy; {{ "now"|date("Y") }} Event Horizon Labs LLP</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
