<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('frontend_profile_show') }}">{{ 'Profile'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('frontend_account_show') }}">{{ 'Account'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('frontend_account_operation_index') }}">{{ 'Account operations'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('frontend_user_change_password') }}">{{ 'Change password'|trans }}</a>
    </li>
</ul>
