{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% block content %}{% endblock %}

        <footer id="footer">
            <div class="row mt-5">
                <div class="col-md-12">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_about') }}">{{ 'About'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_disclaimer') }}">{{ 'Disclaimer'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_privacy_policy') }}">{{ 'Privacy Policy'|trans }}</a></li>
                        <li class="list-inline-item"><a href="{{ path('frontend_static_page_terms_and_conditions') }}">{{ 'Terms and Conditions'|trans }}</a></li>
                    </ul>
                    <p class="text-center">{{ 'Copyright'|trans }} &copy; {{ "now"|date("Y") }} Event Horizon Labs LLP</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
