{% extends 'admin_layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Dashboard'|trans }}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td><a href="{{ path('admin_user_index') }}">{{ 'Profiles'|trans }}</a></td>
                        <td>{{ profiles_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_quote_index') }}">{{ 'Quotes'|trans }}</a></td>
                        <td>{{ quotes_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_user_index') }}">{{ 'Users'|trans }}</a></td>
                        <td>{{ users_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
