{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ 'Dashboard'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'Dashboard'|trans }}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td style="width: 20%;"><a href="{{ path('admin_user_index') }}">{{ 'Accounts'|trans }}</a></td>
                        <td>{{ accounts_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_goal_index') }}">{{ 'Goals'|trans }}</a></td>
                        <td>{{ goals_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_note_index') }}">{{ 'Notes'|trans }}</a></td>
                        <td>{{ notes_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_user_index') }}">{{ 'Profiles'|trans }}</a></td>
                        <td>{{ profiles_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_quote_index') }}">{{ 'Quotes'|trans }}</a></td>
                        <td>{{ quotes_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_reminder_index') }}">{{ 'Reminders'|trans }}</a></td>
                        <td>{{ reminders_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_routine_index') }}">{{ 'Routines'|trans }}</a></td>
                        <td>{{ routines_count }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('admin_user_index') }}">{{ 'Users'|trans }}</a></td>
                        <td>{{ users_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Dashboard'|trans }}{% endblock %}
