{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Change password'|trans }}
                    <span class="float-right">
                        <a aria-label="{{ 'Close'|trans }}" class="btn btn-light btn-sm" href="{{ path('frontend_profile_show') }}" title="{{ 'Close'|trans }}">
                            <i aria-hidden="true" class="bi bi-x-square"></i>
                        </a>
                    </span>
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    {{ include('frontend/user/_form.html.twig', {'button_label': 'Change password'|trans}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Change password'|trans }}
{% endblock %}
