{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    <a href="{{ path('frontend_user_kyt_start') }}">{{ 'Know your tools'|trans }}</a> - {{ 'Basic configuration'|trans }}
                </h1>
                <hr>
                {{ include('frontend/static_page/how_to/_basic_configuration_start.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Know your tools'|trans }} - {{ 'Basic configuration'|trans }}
{% endblock %}
