{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_workspace') }}">
            {{ 'Workspace'|trans }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {{ 'KPIs'|trans }}
    </li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'KPIs'|trans }} ({{ parameters.count }})
            <form action="{{ path('admin_kpi_index') }}" class="form-inline mt-2" method="get">
                <div class="form-group">
                    <input class="form-control" id="starts_at" name="starts_at" type="date" value="{{ parameters.starts_at ? parameters.starts_at|date('Y-m-d') : '' }}">
                </div>
                <div class="form-group">
                    <input class="form-control" id="ends_at" name="ends_at" type="date" value="{{ parameters.ends_at ? parameters.ends_at|date('Y-m-d') : '' }}">
                </div>
                <button class="btn btn-default" type="submit">
                    <i aria-hidden="true" class="bi bi-search"></i>
                    {{ 'Search'|trans }}
                </button>
                <a class="btn {% if not (parameters.starts_at or parameters.ends_at) %}disabled{% endif %} btn-default" href="{{ path('admin_kpi_index') }}">
                    <i aria-hidden="true" class="bi bi-x-square"></i>
                </a>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if kpis.isSorted('k.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(kpis, 'UUID'|trans, 'k.uuid') }}</th>
                            <th {% if kpis.isSorted('k.Date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(kpis, 'Date'|trans, 'k.date') }}</th>
                            <th {% if kpis.isSorted('k.DeletedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(kpis, 'Deleted at'|trans, 'k.deletedAt') }}</th>
                            <th {% if kpis.isSorted('k.UpdatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(kpis, 'Updated at'|trans, 'k.updatedAt') }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kpi in kpis %}
                            <tr>
                                <td><a href="{{ path('admin_kpi_show', {'uuid': kpi.uuid}) }}">{{ kpi.uuid }}</a></td>
                                <td>{{ kpi.date ? kpi.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ kpi.deletedAt ? kpi.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ kpi.updatedAt ? kpi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop{{ kpi.id }}" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i aria-hidden="true" class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{ kpi.id }}">
                                            <a class="dropdown-item" href="{{ path('admin_kpi_show', {'uuid': kpi.uuid}) }}"><i aria-hidden="true" class="bi bi-eye"></i> {{ 'Show'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(kpis) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'KPIs'|trans }}{% endblock %}
