{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    {{ 'Send invitation'|trans }}
                </div>
                <div class="card-body">
                    {{ 'Each time you send an invitation that gets accepted, you will be marked as referrer for the new customer. It means that when the new customer top ups account you will get some free points too.'|trans }}
                    <hr>
                    {{ include('frontend/invitation/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Send invitation'|trans }}{% endblock %}
