{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Send an invitation'|trans }}
                </div>
                <div class="card-body">
                    {{ 'Each time you send an invitation that gets accepted, you will be marked as referrer for the new customer. It means that when the new customer top ups account you will get some free notifications too. Invited person will receive a special promotion code in registration link. This code adds some bonus notifications to account.'|trans }}
                    <hr>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.email, {'attr': {'placeholder': 'Email address of the person to whom you want to send an invitation.'|trans}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ 'Subject'|trans }}: {{ subject }}
                            </div>
                            <hr>
                            <div class="col-md-12">
                                {{ include('email/invitation_content.html.twig')|inky_to_html }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" title="{{ button_label|default('Send'|trans) }}">
                                    <i aria-hidden="true" class="bi bi-envelope"></i>
                                    {{ button_label|default('Send'|trans) }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Send an invitation'|trans }}
{% endblock %}
