{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ 'Account operations'|trans }}
                    {% include('frontend_settings_nav.html.twig') %}
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    {{ 'Description'|trans }}
                                </th>
                                {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_BROWSER_ENABLED') %}
                                    <th>
                                        {{ 'Browser notifications'|trans }}
                                    </th>
                                {% endif %}
                                <th>
                                    {{ 'Email notifications'|trans }}
                                </th>
                                {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
                                    <th>
                                        {{ 'Sms notifications'|trans }}
                                    </th>
                                {% endif %}
                                <th>
                                    {{ 'Type'|trans }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account_operation in account_operations %}
                                <tr>
                                    <td>
                                        {{ account_operation.description }}
                                    </td>
                                    {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_BROWSER_ENABLED') %}
                                        <td>
                                            {{ account_operation.browserNotifications }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ account_operation.emailNotifications }}
                                    </td>
                                    {% if true == constant('App\\Resource\\ConfigResource::NOTIFICATION_SMS_ENABLED') %}
                                        <td>
                                            {{ account_operation.smsNotifications }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ account_operation.type }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        {{ 'No records found'|trans }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(account_operations) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Account operations'|trans }}
{% endblock %}
