{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            {% include('frontend_settings_nav.html.twig') %}
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    {{ 'Account operations'|trans }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'Description'|trans }}</th>
                                <th>{{ 'Email notifications'|trans }}</th>
                                <th>{{ 'Sms notifications'|trans }}</th>
                                <th>{{ 'Type'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account_operation in account_operations %}
                                <tr>
                                    <td>{{ account_operation.description }}</td>
                                    <td>{{ account_operation.emailNotifications }}</td>
                                    <td>{{ account_operation.smsNotifications }}</td>
                                    <td>{{ account_operation.type }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">{{ 'No records found'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(account_operations) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Account details'|trans }} {% endblock %}
