{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6 mt-2">
            {{ form_row(form.minutesDevoted) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.date) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.comment, {'attr': {'placeholder': 'Comment about completed routine.'|trans, 'rows': 5}}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">
                <i aria-hidden="true" class="bi bi-save"></i>
                {{ button_label|default('Save'|trans) }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
