{% extends 'email_layout.html.twig' %}

{% block content %}
    <container>
        <row>
            Hi,<br><br>
            {{ email_original_message }}<br><br>
            {% if email_quote %}
                {{ email_quote }}<br><br>
            {% endif %}
            {% if email_link %}
                Please visit the following <a href="{{ email_link }}">link</a> when you finish.<br><br>
            {% endif %}
            Available email notifications: {{ available_email_notifications }}<br>
            Available sms notifications: {{ available_sms_notifications }}<br><br>
            Thanks,<br>
            Routines365 Team
        </row>
    </container>
{% endblock %}
