{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    {{ 'Login'|trans }}
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                {{ 'Currently this system is only available to invitees.'|trans }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-form-label">{{ 'Email'|trans }}</label>
                                    <input class="form-control" id="inputEmail" name="email" type="email" value="{{ last_username }}" required autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputPassword" class="col-form-label">{{ 'Password'|trans }}</label>
                                    <input class="form-control" id="inputPassword" name="password" type="password" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" id="inputRememberMe" name="_remember_me" type="checkbox">
                                        <label class="custom-control-label" for="inputRememberMe">
                                            {{ 'Remember me'|trans }}
                                        </label>
                                    </div>
                                </div>
                                <a href="{{ path('security_forgot_password_request') }}">{{ 'Forgot password?'|trans }}</a>
                            </div>
                        </div>
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token('authenticate') }}">
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-sign-in-alt"></i>
                                    {{ 'Login'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'Login'|trans }}{% endblock %}
