{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    {{ 'Register'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        <div class="form-group">
                            <label class="form-check-label" for="registration_form_agree">
                                {{ form_widget(registrationForm.agree) }}
                                <a href="{{ path('frontend_static_page_terms_and_conditions') }}">{{ 'Terms and Conditions'|trans }}</a>
                            </label>
                        </div>

                        <br>
                        <button class="btn btn-primary" type="submit">
                            {{ 'Register'|trans }}
                        </button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'Register'|trans }}{% endblock %}
