{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    {{ 'Register'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(registrationForm.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(registrationForm.plainPassword) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(registrationForm.agree) }}
                                <a href="{{ path('frontend_static_page_terms_and_conditions') }}">
                                    {{ 'Terms and Conditions'|trans }}
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">
                                    <i aria-hidden="true" class="bi bi-plus-square-square"></i>
                                    {{ 'Register'|trans }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'Register'|trans }}
{% endblock %}
